extends base

append content
  article#contact(itemtype="http://schema.org/NewsArticle", itemscope)
    h2.page-name(itemprop="about")= "Publicidade"


    h3.printed-news= "Site Brasil de Fato"  
    
    ul.social-media-list
      li.social-media-item E-mail: #[a(target="_blank", href="mailto:publicidade@brasildefato.com.br") publicidade@brasildefato.com.br]
      li.social-media-item Telefone: (11) 2131-0814 

    h4.printed-news= "Impresso Minas Gerais"

    ul.social-media-list
      li.social-media-item E-mail: #[a(target="_blank", href="mailto:brasildefatomg@brasildefato.com.br") brasildefatomg@brasildefato.com.br]
      li.social-media-item Telefone: (31) 3213-3983

    h4.printed-news= "Impresso Paraná"

    ul.social-media-list
      li.social-media-item E-mail: #[a(target="_blank", href="mailto:administracaopr@brasildefato.com.br") administracaopr@brasildefato.com.br]
      li.social-media-item Telefone: (41) 3205-5509

    h4.printed-news= "Impresso Rio de Janeiro"

    ul.social-media-list
      li.social-media-item E-mail: #[a(target="_blank", href="mailto:administracaorj@brasildefato.com.br") administracaorj@brasildefato.com.br]
      li.social-media-item Telefone: (21) 3173-6336

