extends base

block title
  title= `Arquivo ${config.separator} ${config.title}`

block description
      meta(name="description" content=`A se pensar`)

block canonical
  link(href=`https://www.brasildefato.com.br/${page.path}` rel="canonical")

block keywords
  meta(name="keywords" content=Arquivo)

block open_graph
  meta(property="og:title" content=`Arquivo | ${config.title}`)
  meta(property="og:description" content=config.description)
  meta(property="og:image" content=`${config.url}/img/share-logo.png`)

append content
  main.grid-3-columns
    div#breadcrumb
      ol(itemscope itemtype="http://schema.org/BreadcrumbList")
        li(itemprop="itemListElement" )
          a( href="/")
            p Início
        li
          i(class="fa fa-chevron-right fa-lg")
        li(itemprop="itemListElement" )
          a( href="/arquivos/")
            p.breadcrumb-last Arquivos

    section#news-list(class= "archive")
      h1.archive-page-name(class="page-name")= `${page.month_name} de ${page.year}`
      ol(itemscope itemtype="http://schema.org/ItemList")
        - var list = page.list
        li.list-header(itemprop="itemListElement")
          p.day Dia
          p Titulo
        each post in list
          - var published_at = utc_to_brt(post.published_at)
          li(itemprop="itemListElement")
            time.day(datetime=published_at.toISOString(), itemprop="datePublished")= full_date(published_at, 'DD')
            a.list-item(href=post.url  itemprop="url")
              p(itemprop= "name")= post.title
