extends base

block title
  title= `Arquivo ${config.separator} ${config.title}`

block description
      meta(name="description" content=`A se pensar`)

block canonical
  link(href=`https://www.brasildefato.com.br/${page.path}` rel="canonical")

block keywords
  meta(name="keywords" content=Arquivo)

block open_graph
  meta(property="og:title" content=`Arquivo | ${config.title}`)
  meta(property="og:description" content=config.description)
  meta(property="og:image" content=`${config.url}/img/share-logo.png`)

append content
  main.grid-3-columns

    section#news-list(class= "archive" )
      h1(class="page-name")= 'Arquivo'

      ol(itemscope itemtype="http://schema.org/ItemList")
        - var list = page.list
        each post in list
          - var published_at = utc_to_brt(post.published_at)
          li(itemprop="itemListElement")
            a.list-item(href=post.url  itemprop="url")
              time.date(datetime=published_at.toISOString(), itemprop="datePublished")= full_date(published_at, 'DD')
              span.title(itemprop= "name")= post.title
