extends base

append content
  - var columnist = site.data.columnists[page.columnist]
  article#column(itemscope, itemtype="http://schema.org/BlogPosting")
    span.hat Coluna
    .column-header
      h2.title(itemprop="headline")= page.title
      .person(itemscope, itemtype="http://schema.org/Person")
        img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src=columnist.photo )
        .name-and-time
          h3.name(itemprop="name")=columnist.name  
          time(datetime=page.date)= page.date.locale('pt-br').format(' DD [de] MMMM [de] YYYY, [às] HH:mm')
    meta(itemprop="datePublished", content=page.date)
    meta(itemprop="image", content='http:'+columnist.photo)
    .content
      p.description(itemprop="description")= page.description
      != page.content
