extends base

append footer
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js")

append content
  include _partial/opinion/social_network

append content
  include _partial/opinion/breadcrumb

append content
  section#columnist(itemscope, itemtype="http://schema.org/CollectionPage")
    header
      span.hat Colunista
      section.person(itemscope, itemtype="http://schema.org/Person")
        img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src=page.columnist.photo )
        h1.name(itemprop="name")=page.columnist.name
        h2.job-title(itemprop="jobTitle")=page.columnist.description
    h1.hat-articles Artigos
    section.list-of-articles.js-masonry(itemscope, itemtype="http://schema.org/ItemList", data-masonry-options='{ "itemSelector": ".opinion", "columnWidth": ".opinion", "percentPosition": "true", "gutter": 15 }')
      - each post, index in page.posts.toArray()
        article.opinion(itemprop="itemListElement", itemscope, itemtype="http://schema.org/Article")
          a(href="#{ url_for(post.path) }", itemprop="url")
            h1.title(itemprop="headline")= post.title
          time.date-time(itemprop="datePublished", datetime= post.date )= post.date.locale('pt-BR').format('LL')
          p.description(itemprop="about")= post.description
          meta(itemprop="position", content=index)
          meta(itemprop="image", content="http:"+page.columnist.photo)

append content
    include _partial/opinion/other_opinions
    include _partial/post/most_reads
