extends base

block open_graph
  include _partial/open_graph_page

append content
  - var columnist = site.data.columnists[page.columnist]
  article#column(itemscope, itemtype="http://schema.org/BlogPosting")
    span.hat Coluna
    .column-header
      h2.title(itemprop="headline")= page.title
      .person(itemscope, itemtype="http://schema.org/Person")
        img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src=columnist.photo )
        .name-and-time
          h3.name(itemprop="name")=columnist.name  
          time(datetime=page.date.toISOString())= page.date.locale('pt-br').format(' DD [de] MMMM [de] YYYY, [às] HH:MM')
    meta(itemprop="datePublished", content=page.date)
    meta(itemprop="image", content='http:'+columnist.photo)
    if page.cover
      figure(itemprop="image", itemscope, itemtype="http://schema.org/ImageObject")
        - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
        - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
        img(itemprop="thumbnail", alt=imageDescription, title=imageDescription, src=page.cover['medium'] )
        figcaption(itemprop="caption")= imageCaption
    .content
      blockquote.description(itemprop="description")= page.description
      != page.content
