extends base

block title
  title #{titlecase(page.title)} #{config.separator} Coluna #{config.separator} #{config.title}
  
block description
  meta(name="description" content=page.description)
  
block canonical
  link(href="https://www.brasildefato.com.br#{page.url}" rel="canonical")

block open_graph
  include _partial/open_graph_page

append content
  main.grid-3-columns
    - var published_at = utc_to_brt(page.date)
    - var columnist = site.data.columnists[page.columnist]
    article#column(itemscope, itemtype="http://schema.org/BlogPosting")
    
      meta(itemprop="mainEntityOfPage" content="https://www.brasildefato.com.br#{page.url}")
      div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
        div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
          meta(itemprop="url" content="https://brasildefato.com.br/img/logo-microdata.jpg")
          meta(itemprop="width" content="600")
          meta(itemprop="height" content="60")
        meta(itemprop="name" content="Brasil de Fato")
        link(itemprop="sameAs" href="https://www.brasildefato.com.br")
  
      span.hat Coluna
      
      .column-header
        h1.title(itemprop="headline")= page.title
        .person 
          img.profile-image(alt="Imagem de perfil do Colunista", src=columnist.photo)
          .name-and-time
            span.name(itemprop="author")= columnist.name
            time(datetime=published_at.toISOString())= full_date(published_at)
            meta(itemprop="datePublished", content=published_at.toISOString())
            meta(itemprop="dateModified", content=published_at.toISOString())
            
      if page.cover
        figure(itemscope itemprop="image" itemtype="https://schema.org/ImageObject")
          - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
          - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
          img(itemprop="url" alt=imageDescription, title=imageDescription, src=page.cover['medium'] )
          figcaption(itemprop="caption")= imageCaption
          meta(itemprop="width" content="696")
          meta(itemprop="height" content="434")
          
      .content(itemprop="articleBody")
        blockquote.description(itemprop="description")= page.description
        != page.content
      
