extends base

block content
  section#home
    h1 Notícias
    - each post in page.posts.toArray()
      section.new
        figure
          a(href="#{ url_for(post.path) }", title="Link para a notícia")
            img(alt=post.cover.subtitle, src="#{ post.cover.url } ")
          figcaption="Foto: Reprodução"
        div.new-content
          p.hat=post.hat
          a(href="#{ url_for(post.path) }", title="Link para a notícia")
            h2.title= post.newTitle
          p.description= post.description

      
