extends base

block content
  section#home
    h1 Notícias
    - each post in page.posts.toArray()
      section.new
        figure
          a(href="#{ url_for(post.path) }", title="Link para a notícia")
            img(alt="Imagem Capa", src="#{ post.cover['url'] } ")
          figcaption= "Foto: Reprodução"
        a(href="#{ url_for(post.path) }", title="Link para a notícia")
          h2.title= post.title
        p.description= post.description
