extends base

append content
  include _partial/post/social_network

append content
  include _partial/post/breadcrumb

append content
  section#home(itemscope, itemtype="http://schema.org/ItemList")
    h1 Notícias
    - var post = site.posts.find({'layout': 'post'}).toArray()[0]
      article.new(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
        meta(itemprop="position", content="0")
        header.new-content.desktop
          p.hat=post.hat
          a(href="#{ url_for(post.path) }", title=post.title, itemprop="url")
            h2.title(itemprop="name")= post.title
          p.description(itemprop="description")= post.description
        figure
          - if (!!post.cover) {
            a(href="#{ url_for(post.path) }", title=post.title, itemprop="url")
              img(alt=post.cover.subtitle, src="#{ post.cover.medium } ",  itemprop="image")
            figcaption=post.cover.subtitle
          - }

    - each post, index in site.posts.find({'layout': 'post'}).toArray().slice(1, 10)
      article.new(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
        meta(itemprop="position", content=index+1)
        figure
          - if (!!post.cover) {
            a(href="#{ url_for(post.path) }", title=post.title, itemprop="url")
              img(alt=post.cover.subtitle, src="#{ post.cover.small } ",  itemprop="image")
            figcaption=post.cover.subtitle
          - }
        header.new-content
          p.hat=post.hat
          a(href="#{ url_for(post.path) }", title=post.title, itemprop="url")
            h2.title(itemprop="name")= post.title
          p.description(itemprop="description")= post.description

