extend base

append content
  section#home
    section.main
      section.featured(itemscope itemtype="http://schema.org/ItemList")
        h1.section-name(itemprop="name") Últimas Notícias
        meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending")
        if page.featured_big_picture
          - var post=page.featured_big_picture
          - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
          article#featured_1(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="featured_big_picture")
            figure
              a(href=post.path)
                img(src=post.cover.small alt=imageDescription title=imageDescription itemprop="image")
              figcaption
                a(href=post.path)
                  h1.title(itemprop="headline")= post.title
            a(href=post.path)
              p.description= post.description
        if page.featured_small_picture_1
          - var post=page.featured_small_picture_1
          - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
          article#featured_2(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="featured_small_picture")
            a(href=post.path)
              figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
              h1.title(itemprop="headline")= post.title
        if page.featured_small_picture_2
          - var post=page.featured_small_picture_2
          - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
          article#featured_3(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="featured_small_picture")
            a(href=post.path)
              figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
              h1.title(itemprop="headline")= post.title
        #featured_text_container
          if page.featured_text
            - var post=page.featured_text
            article#featured_4(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="featured_text")
              a(href=post.path)
                h1.title(itemprop="headline")= post.title
              a(href=post.path)
                p.description= post.description
              meta(itemprop="datePublished" content=post.date)
          if page.featured_text_box_1
            - var post=page.featured_text_box_1
            #featured_5
              article(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="featured_text_box")
                a(href=post.path)
                  h1.title(itemprop="headline")= post.title
                meta(itemprop="datePublished" content=post.date)
          if page.featured_text_box_2
            - var post=page.featured_text_box_2
            #featured_6
              article(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="featured_text_box")
                a(href=post.path)
                  h1.title(itemprop="headline")= post.title
                meta(itemprop="datePublished" content=post.date)

      if page.gallery
        section.galleries
          section.gallery-videos
            h1.section-name Vídeos
            - var firstImage = page.gallery[0]
            figure(itemscope itemtype="http://schema.org/ImageObject")
              img(src=firstImage.cover['small'])
              meta(itemprop="contentUrl" content=firstImage.cover['small'])
              figcaption
                h1.title(itemprop="caption")= firstImage.cover.subtitle
                h2.credits(itemprop="creator")= firstImage.cover.credits
            section.images
              section.slider
                each image, index in page.gallery
                  - var attributes = {'data-large-image': image.cover['small'], 'data-credits': image.cover['credits'], 'data-title': image.cover['subtitle'], 'alt': image.cover['subtitle'], 'title': image.cover['subtitle']};
                  - var active = (index === 0) ? 'active' : '';
                  img(src=image.cover['thumbnail'] class=active)&attributes(attributes)
          section.gallery-images
            h1.section-name Galeria
            - var firstImage = page.gallery[0]
            figure(itemscope itemtype="http://schema.org/ImageObject")
              img(src=firstImage.cover['small'])
              meta(itemprop="contentUrl" content=firstImage.cover['small'])
              figcaption
                h1.title(itemprop="caption")= firstImage.cover.subtitle
                h2.credits(itemprop="creator")= firstImage.cover.credits
            section.images
              section.slider
                each image, index in page.gallery
                  - var attributes = {'data-large-image': image.cover['small'], 'data-credits': image.cover['credits'], 'data-title': image.cover['subtitle'], 'alt': image.cover['subtitle'], 'title': image.cover['subtitle']};
                  - var active = (index === 0) ? 'active' : '';
                  img(src=image.cover['thumbnail'], class=active)&attributes(attributes)

      section.secondary(itemscope itemtype="http://schema.org/ItemList")  
        meta(itemprop="itemListOrder" content="http://schema.org/ItemListUnordered")
        if page.article_footer_1
          - var post=page.article_footer_1
          - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
          article(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="article_footer")
            span.hat(itemprop="about")= post.hat
            a(href=post.path)
              img(src=post.cover.small alt=imageDescription title=imageDescription itemprop="image")
            a(href=post.path)
              h1.title(itemprop="headline")= post.title
            meta(itemprop="datePublished" content= post.date)
        if page.article_footer_2
          - var post=page.article_footer_2
          - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
          article(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class="article_footer")
            span.hat(itemprop="about")= post.hat
            a(href=post.path)
              img(src=post.cover.small alt=imageDescription title=imageDescription itemprop="image")
            a(href=post.path)
              h1.title(itemprop="headline")= post.title
            meta(itemprop="datePublished" content= post.date)
      
      if page.photo_caption
        section.photo_caption
          - var post=page.photo_caption
          figure(itemscope itemtype="http://schema.org/ImageObject")
            img(src=post.cover.small alt=imageDescription title=imageDescription itemprop="image")
            meta(itemprop="contentUrl" content=post.cover.small)
            figcaption
              h1.title(itemprop="headline")= post.title
              h2.credits(itemprop="creator")= post.cover.credits
       
      section.most_read
        meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
        h1.section-name Mais lidas
        if page.most_read
          ol
            each post in page.most_read
              li
                a.title(itemprop="url", href=post.news.path)=post.news.title
                meta(itemprop="datePublished" content=post.date)
    aside.sidebar
      section.radar
        figure
          a(target="_blank", href="#{ url_for('//radar.brasildefato.com.br') }", title="Radar dos Movimentos")
            img(src="#{ url_for('img/radar.png') }", alt="imagem radar dos movimentos")
      section.columns(itemscope itemtype="http://schema.org/ItemList")
        h1.section-name Colunistas
        if page.column_1
          - var column=page.column_1
          - var columnist=site.data.columnists[column.columnist]
          article.columnist(itemscope itemtype="http://schema.org/BlogPosting" itemprop="itemListElement")
            figure
              img(src=columnist.photo alt="Imagem de perfil do colunista" title="Imagem de perfil do colunista" itemtype="https://schema.org/Person" itemprop="image")
            section.column
              h1.name(itemtype="https://schema.org/Person" itemprop="name")= columnist.name
              h2.title(itemprop="headline")= column.title
        if page.column_2
          - var column=page.column_2
          - var columnist=site.data.columnists[column.columnist]
          article.columnist(itemscope itemtype="http://schema.org/BlogPosting" itemprop="itemListElement")
            figure
              img(src= columnist.photo alt="Imagem de perfil do colunista" title="Imagem de perfil do colunista" itemtype="https://schema.org/Person" itemprop="image")
            section.column
              h1.name(itemtype="https://schema.org/Person" itemprop="name")= columnist.name
              h2.title(itemprop="headline")= column.title
        if page.column_3
          - var column=page.column_3
          - var columnist=site.data.columnists[column.columnist]
          article.columnist(itemscope itemtype="http://schema.org/BlogPosting" itemprop="itemListElement")
            figure
              img(src=columnist.photo alt="Imagem de perfil do colunista" title="Imagem de perfil do colunista" itemtype="https://schema.org/Person" itemprop="image")
            section.column
              h1.name(itemtype="https://schema.org/Person" itemprop="name")= columnist.name
              h2.title(itemprop="headline")= column.title
      section.last_news
        meta(itemprop="itemListOrder" content="http://schema.org/ItemListUnordered")
        h1.section-name Últimas notícias
        if page.last_news
          ol
            each post in page.last_news
              li
                a.title(itemprop="url", href=post.news.path)=post.news.title
                meta(itemprop="datePublished" content=post.date)
