extend base

append content
  section#home
    section.featured(itemscope, itemtype="http://schema.org/ItemList")
      h1.section-name(itemprop="name") Últimas Notícias
      meta(itemprop="itemListOrder", content="http://schema.org/ItemListOrderDescending")
      each post, index in page.featured
        - var imageDescription = post.cover.subtitle + ' - Créditos: ' + post.cover.credits
        - var position = { 0: 'first', 1: 'second' }
        article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement", class=position[index])
          if position[index]
            figure
              img(src=post.cover.small, alt=imageDescription, title=imageDescription, itemprop="image")
              figcaption
                h1.title(itemprop="headline")= post.title
                p.description= post.description
          else
            h1.title(itemprop="headline")= post.title
            p.description= post.description
          meta(itemprop="datePublished", content=post.date)

    section.secundary(itemscope, itemtype="http://schema.org/ItemList")
      meta(itemprop="itemListOrder", content="http://schema.org/ItemListUnordered")
      each post in page.secondary
        - var imageDescription = post.cover.subtitle + ' - Créditos: ' + post.cover.credits
        article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement")
          span.hat(itemprop="about")= post.hat
          img(src=post.cover.small, alt=imageDescription, title=imageDescription, itemprop="image")
          h1.title(itemprop="headline")= post.title
          meta(itemprop="datePublished", content= post.date)

    section.opinions(itemscope, itemtype="http://schema.org/ItemList")
      h1.section-name Colunistas
      each opinion, index in page.opinions
        - var columnist = site.data.columnists[opinion.columnist]
        - var position = { 0: 'first'}
        article.columnist(itemscope, itemtype="http://schema.org/BlogPosting", itemprop="itemListElement", class=position[index])
          figure
            img(src= columnist.photo, alt="Imagem de perfil do colunista", title="Imagem de perfil do colunista", itemtype="https://schema.org/Person", itemprop="image")
          section.opinion
            h1.name(itemtype="https://schema.org/Person", itemprop="name")= columnist.name
            h2.title(itemprop="headline")= opinion.title
            date(datetime=opinion.date)= moment(opinion.date).format('L')
            meta(content=opinion.date, itemprop="datePublished")

    section.picture
      figure(itemscope, itemtype="http://schema.org/ImageObject")
        img(src="//farm1.staticflickr.com/700/23615980955_9f9a68eae8_n.jpg")
        meta(itemprop="contentUrl", content="//farm1.staticflickr.com/700/23615980955_9f9a68eae8_n.jpg")
        figcaption
          h1.title(itemprop="caption") O Graffiti como arte urbana
          h2.credits(itemprop="creator") Gêmeos
    section.gallery-images
      h1.section-name Galeria
      figure(itemscope, itemtype="http://schema.org/ImageObject")
        img(src="//farm1.staticflickr.com/661/23333817780_407b7c07d8_n.jpg")
        meta(itemprop="contentUrl", content="//farm1.staticflickr.com/700/23615980955_9f9a68eae8_n.jpg")
        figcaption
          h1.title(itemprop="caption") O Graffiti como arte urbana
          h2.credits(itemprop="creator") Gêmeos
      section.images
        - var attributes = {'data-large-image': '//farm1.staticflickr.com/661/23333817780_407b7c07d8_n.jpg', 'data-credits': 'José Ninguém João da Silva', 'data-subtitle': 'Foto tirada de lá de longe', 'atl': 'Alt da image', 'title': 'Imagem por João Ninguém'};
        img.active(src="//farm1.staticflickr.com/661/23333817780_407b7c07d8_t.jpg")&attributes(attributes)
        img(src="//farm1.staticflickr.com/700/23615980955_9f9a68eae8_t.jpg")&attributes(attributes)
        img(src="//farm1.staticflickr.com/700/23615980955_9f9a68eae8_t.jpg")&attributes(attributes)
        img(src="//farm1.staticflickr.com/700/23615980955_9f9a68eae8_t.jpg")&attributes(attributes)
