extend base

append content
  section#home
    section.featured(itemscope, itemtype="http://schema.org/ItemList")
      h1.section-name(itemprop="name") Últimas Notícias
      meta(itemprop="itemListOrder", content="http://schema.org/ItemListOrderDescending")
      each post, index in page.featured
        - var imageDescription = post.cover.subtitle + ' - Créditos: ' + post.cover.credits
        - var position = { 0: 'first', 1: 'second' }
        article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement", class=position[index])

          if position[index]
            img(src=post.cover.small, alt=imageDescription, title=imageDescription, itemprop="image")
          h1.title(itemprop="headline")= post.title
          p.description= post.description
          meta(itemprop="datePublished", content=post.date)

    section.secundary(itemscope, itemtype="http://schema.org/ItemList")
      meta(itemprop="itemListOrder", content="http://schema.org/ItemListUnordered")
      article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement")
        span.hat(itemprop="about") Preconceito
        img(src="//farm6.staticflickr.com/5782/23469650266_f05c73b5e0_n.jpg", alt="Descrição", title="Créditos", itemprop="image")
        h1.title(itemprop="headline") Mulheres Negras organizam marcha nacional
        meta(itemprop="datePublished", content="2015-12-02T13:47:40-03:00")
      article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement")
        span.hat(itemprop="about") Agressão
        img(src="//farm1.staticflickr.com/775/22867505634_e0ce2b20c7_n.jpg", alt="Descrição", title="Créditos", itemprop="image")
        h1.title(itemprop="headline") Artistas agredidos por seguranças vão processar MetrôRio
        meta(itemprop="datePublished", content="2015-12-02T13:47:40-03:00")
      article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement")
        span.hat(itemprop="about") Homenagem
        img(src="//farm1.staticflickr.com/760/22867514814_a2ca24ab80_n.jpg", alt="Descrição", title="Créditos", itemprop="image")
        h1.title(itemprop="headline") Morre aos 90 anos líder guerrilheira Zilda Xavier da Silva
        meta(itemprop="datePublished", content="2015-12-02T13:47:40-03:00")
      article(itemscope, itemtype="https://schema.org/NewsArticle", itemprop="itemListElement")
        span.hat(itemprop="about") #OcupaEscola
        img(src="//farm6.staticflickr.com/5817/23495844275_35efde962c_n.jpg", alt="Descrição", title="Créditos", itemprop="image")
        h1.title(itemprop="headline") 'Podemos, com desobediência civil, participar das decisões'
        meta(itemprop="datePublished", content="2015-12-02T13:47:40-03:00")




