mixin columnist_item(column)
  if column
    - var columnist=site.data.columnists[column.columnist]
    if columnist
      article.columnist(itemscope itemtype="http://schema.org/BlogPosting")
        .photo
          a(href=column.path, title="link para a pagina do colunista")
            img(itemprop="image" alt="Foto de #{columnist.name}" src=columnist.photo itemscope itemtype="https://schema.org/Person")
        .column
          a(href=column.path, title="link para a pagina do colunista")
            span.name(itemprop="name")= columnist.name
          a(href=column.path, itemprop="url")
            h2.title(itemprop="headline")= column.title
            
mixin columnists_list
  a(href="/colunistas/", title="link para a pagina de colunistas")
    h2.section-name Colunistas
  +columnist_item(page.column_01)
  +columnist_item(page.column_02)
  +columnist_item(page.column_03)      
  a(href="/colunistas/" class="button" title="link para a pagina de colunistas") 
    span Leia Mais
    
mixin printed-news(page)
  h2.section-name Edições Impressas
  img(src="/img/newspaper.png" alt="jornal")
  if page.ceara
    a(href= page.ceara.path)
      h3.button Ceará
  if page.minas_gerais
    a(href= page.minas_gerais.path)
      h3.button Minas Gerais
  if page.parana
    a(href= page.parana.path)
      h3.button Paraná
  if page.pernambuco
    a(href= page.pernambuco.path)
      h3.button Pernambuco
  if page.rio_de_janeiro
    a(href= page.rio_de_janeiro.path)
      h3.button Rio de Janeiro
      
mixin newsletter
  h2.section-name Boletim Bdf
  p Receba notícias via e-mail
  a(href="http://e.allin.brasildefato.com.br/embed/76af83270c68531f81f348072afb0576/1961.html" class="button" title="link para receber notícias por e-mail" target="_blank") 
    span Assinar
              
mixin small-picture (field, post, imageDescription)
  article(id=field itemscope itemtype="https://schema.org/NewsArticle" class="featured-small-picture" class="divisor" class="spacing")
    a(itemprop="image" href=post.path)
      figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
      h3.title(itemprop="headline")= post.title

mixin featured-text-box (post)
  .box-container(class= "spacing")
    article(itemscope itemtype="https://schema.org/NewsArticle" class="featured-text-box")
      a(itemprop="url" href=post.path)
        h3.title(itemprop="headline")= post.title
        
mixin footer-article(field, post, imageDescription)
  article(id=field itemscope itemtype="https://schema.org/NewsArticle" class="article-footer" class="spacing")
    span.hat(itemprop="about")= post.hat
    a(itemprop="url" href=post.path)
      figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
      h3.title(itemprop="headline")= post.title

extends base

append content
  main.grid-5-columns
    #fb-root
    #home
      .top
        if page.advertising_01
          - var post=page.advertising_01
          div.advertising_01
            a(itemprop="url" href=post.link target="_blank")
              img(src=post.image alt=post.title title=post.title itemprop="image")

        if page.advertising_03
          - var post=page.advertising_03
          a.advertising_03(itemprop="url" href=post.link target="_blank")
            img(src=post.image alt=post.title title=post.title itemprop="image")
            
        if page.last_news
          section#last-news-dynamic.last-news(class="spacing" hidden)
            meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
            a(itemprop="url" href="/ultimas_noticias/")  
              h2.section-name Últimas notícias:
            ol
              each post in page.last_news
                li.inactive(itemprop="itemListElement")
                  a(itemprop="url", href=post.path)
                    p.title= post.title

      .container
        .main    
          if page.featured_01
            - var post=page.featured_01
            - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
            article#featured-1(itemscope itemtype="https://schema.org/NewsArticle" class="featured-big-picture" class="divisor" class="spacing")
              h3.offscreen= post.title
              a(itemprop="url" href=post.path)
                figure
                  img(src=post.cover.medium alt=imageDescription title=imageDescription itemprop="image")
                  figcaption
                    h3.big-title(itemprop="headline")= post.title

          if page.featured_02
            - var post=page.featured_02
            - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
            +small-picture("featured-2", post, imageDescription)

          if page.featured_03
            - var post=page.featured_03
            - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
            +small-picture("featured-3", post, imageDescription)    

          #featured-text-container(class="divisor" class= "spacing")
            if page.advertising_04
              - var post=page.advertising_04
              a.advertising_04(itemprop="url" href=post.link target="_blank")
                img(src=post.image alt=post.title title=post.title itemprop="image")

            if page.featured_04
              - var post=page.featured_04
              article(itemscope itemtype="https://schema.org/NewsArticle" class="featured-text-and-title" class= "spacing")
                a(itemprop="url" href=post.path)
                  h3.title(itemprop="headline")= post.title
                  p.description(itemprop="description")= post.description

            if page.featured_05
              - var post=page.featured_05
              +featured-text-box(post)

            if page.featured_06
              - var post=page.featured_06
              +featured-text-box(post)

          figure(class= "radar" class= "spacing")
            a(itemprop="url" target="_blank" href="http://radar.brasildefato.com.br" title="Radar de Movimentos Populares")
              img#radar_mobile(src="/img/radar_mobile.png" alt="Radar de Movimentos Populares")

          section.printed-news(class="spacing")
            +printed-news(page)
          
          section.newsletter(class="spacing")
            +newsletter
                              
          section(class= "columnists" class="spacing" itemscope itemtype="http://schema.org/ItemList" )
            +columnists_list

          section#videos(class="gallery-videos" class="spacing")
            h2.section-name TV Brasil de Fato
            iframe(src="//www.youtube.com/embed?listType=playlist&list=PLytfbsQYLZpB5uDo8LRdjf9X9RfOlFw4d" allowfullscreen)

          section#images(class= "gallery-images" class="spacing")
            h2.section-name Fotos    
            iframe(src="//www.flickr.com/slideShow/index.gne?user_id=brasildefato&set_id=72157665304017756", width="450", height="337")

          if page.featured_07
            - var post=page.featured_07
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-7", post, imageDescription)

          if page.featured_08
            - var post=page.featured_08
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-8", post, imageDescription)
          
          if page.photo_caption
            article.photo-caption(itemscope itemtype="https://schema.org/Photograph" class= "spacing")
              h2.section-name Charge
              - var post=page.photo_caption
              - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
                figure
                  img(src=post.cover.medium alt=imageDescription title=imageDescription itemprop="image")
                  figcaption
                    p.subtitle(itemprop="headline")= post.cover.subtitle
                    p.credits= post.cover.credits
           
          if page.last_news
            section.last-news#last-news-mobile(class= "spacing")
              meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
              a(itemprop="url" href="/ultimas_noticias/")
                h2.section-name Últimas Notícias
              ol
                each post in page.last_news
                  li(itemprop="itemListElement")
                    a(itemprop="url" href=post.path)
                      h3.title= post.title

          if page.most_read
            section.most-read(class="spacing")
              meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
              h2.section-name Mais lidas
              ol
                each post in page.most_read
                  li(itemprop="itemListElement")
                    a(itemprop="url", href=post.path)
                      h3.title= post.title

        aside.sidebar(hidden itemscope itemtype="http://schema.org/WPSideBar")
          figure(class= "radar" class= "spacing")
            a(itemprop="url" target="_blank" href="http://radar.brasildefato.com.br" title="Radar dos Movimentos")
              img(src="/img/radar.png" alt="Radar de movimentos populares")

          if page.advertising_02
            - var post=page.advertising_02
            a.advertising_02(itemprop="url" href=post.link target="_blank")
              img(src=post.image alt=post.title title=post.title itemprop="image")

          section.printed-news(class="spacing")
            +printed-news(page)
            
          section.newsletter(class="spacing")
            +newsletter
                                    
          section(class= "columnists" class="spacing" itemscope itemtype="http://schema.org/ItemList")
            +columnists_list

          include _partial/modules/module_facebook
block footer
  include _partial/home_footer
