extends base
include _partial/modules/module_facebook

mixin columnist_item(column)
  if column
    - var columnist=site.data.columnists[column.columnist]
    if columnist
      .columnist.columnist-analytics(itemprop="itemListElement" itemscope itemtype="https://schema.org/Person")
        .photo
          a(href=`colunistas/${columnist.path}`, title="link para a pagina do colunista")
            img(alt=`Foto de ${columnist.name}` src=columnist.photo itemprop="image")
        .column
          a(href=`colunistas/${columnist.path}`, title="link para a pagina do colunista")
            span.name(itemprop="name")= columnist.name
          a(href=column.path itemprop="url")
            h2.title= column.title

mixin columnists_list
  h2.section-name Colunistas
  +columnist_item(page.column_01)
  +columnist_item(page.column_02)
  +columnist_item(page.column_03)
  a(href="/colunistas/" class="button" title="link para a pagina de colunistas")
    span Mais Colunas

mixin printed-news-listings(page)
  h2.section-name Edições Impressas
  img(src="/img/newspaper.png" alt="jornal")
  if page.ceara
    a(href="/ceara/" itemprop="url")
      h3.button Ceará
  a(href="/minas-gerais/" itemprop="url")
    h3.button Minas Gerais
  a(href="/parana/" itemprop="url")
    h3.button Paraná
  a(href="/pernambuco/" itemprop="url")
    h3.button Pernambuco
  a(href="/rio-de-janeiro/" itemprop="url")
    h3.button Rio de Janeiro

mixin newsletter(inputId)
  h2.section-name Boletim BdF
  p Receba notícias via e-mail
  .newsletter-input
    input(type=text id=inputId placeholder="Digite seu e-mail..." class="email")
    script(src="//i.btg360.com.br/lc.js")
    a(class="button" onclick=`registerOnAllIn('#${inputId}');`)
      span Assinar
  .thanks-message
    i(class="fa fa-check" aria-hidden="true")
    p Obrigada!
  .fail-message
    i(aria-hidden="true")
    p Email inválido!

mixin featured-text-box (post)
  .box-container(class= "spacing")
    div(class="featured-text-box")
      span.hat= post.hat
      a(href=post.path itemprop="url")
        h3.title(itemprop="headline")= post.title

mixin footer-article(field, post, imageDescription)
  div(id=field class="article-footer" class="spacing")
    span.hat= post.hat
    a(href=post.path itemprop="url")
      figure(style=`background-image: url(${post.cover.small});` aria-label=imageDescription title=imageDescription)
      h3.title(itemprop="headline")= post.title

mixin spotlight_01_mobile(post, type)
  div.spotlight-01-mobile(class="spacing" itemscope itemtype=type)
    a#spotlight_01_mobile(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_01_desktop(post, type)
  div.spotlight-01-desktop(class="spacing" itemscope itemtype=type)
    a(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_02_mobile(post, type)
  div.spotlight-02-mobile(class="spacing" itemscope itemtype=type)
    a#spotlight_02_mobile(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_02_desktop(post, type)
  div.spotlight-02-desktop(class= "spacing" itemscope itemtype=type )
    a(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_03_mobile(post, type)
  div.spotlight-03-mobile.spotlight-03-analytics(class="spacing" itemscope itemtype=type)
    a#spotlight_03_mobile(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_03_desktop(post, type)
  div.spotlight-03-desktop.spotlight-03-analytics(class="spacing" itemscope itemtype=type)
    a(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_04_mobile(post, type)
  div.spotlight-04-mobile(class="spacing" itemscope itemtype=type)
    a#spotlight_04_mobile(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin spotlight_04_desktop(post, type)
  div.spotlight-04-desktop(class="spacing" itemscope itemtype=type)
    a(itemprop="url" href=post.link target="_blank")
      img(src=post.image alt=post.title title=post.title itemprop="image")

mixin adsense_01_mobile()
  if config.toggles._D6fenTno_adsense
    div.adsense-01-mobile
      != '<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>'
      != '<!-- mobile_01 -->'
      != '<ins class="adsbygoogle"'
      !=      'style="display:inline-block; width:320px; height:100px"'
      !=      'data-ad-client="ca-pub-9026445537434187"'
      !=      'data-ad-slot="1176081356"></ins>'
      != '<script>'
      != '(adsbygoogle = window.adsbygoogle || []).push({});'
      != '</script>'

mixin adsense_01_desktop()
  if config.toggles._D6fenTno_adsense
    div.adsense-01-desktop
      != '<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>'
      != '<!-- desktop_01 -->'
      != '<ins class="adsbygoogle"'
      !=    'style="display:inline-block; width:728px; height:90px"'
      !=    'data-ad-client="ca-pub-9026445537434187"'
      !=    'data-ad-slot="4687950959"></ins>'
      != '<script>'
      != '(adsbygoogle = window.adsbygoogle || []).push({});'
      != '</script>'

mixin adsense_02_mobile()
  if config.toggles._D6fenTno_adsense
    div.adsense-02-mobile
      !=  '<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>'
      !=  '<!-- mobile_02 -->'
      !=  '<ins class="adsbygoogle"'
      !=     'style="display:inline-block; width:320px; height:100px"'
      !=     'data-ad-client="ca-pub-9026445537434187"'
      !=     'data-ad-slot="5979554159"></ins>'
      !=  '<script>'
      !=  '(adsbygoogle = window.adsbygoogle || []).push({});'
      !=  '</script>'

mixin adsense_02_desktop()
  if config.toggles._D6fenTno_adsense
    div.adsense-02-desktop
      !=  '<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>'
      !=  '<!-- desktop_02 -->'
      !=  '<ins class="adsbygoogle"'
      !=       'style="display:inline-block; width:728px; height:90px"'
      !=       'data-ad-client="ca-pub-9026445537434187"'
      !=       'data-ad-slot="3444890153"></ins>'
      !=  '<script>'
      !=  '(adsbygoogle = window.adsbygoogle || []).push({});'
      !=  '</script>'

mixin adsense_03_desktop()
  if config.toggles._D6fenTno_adsense
    div.adsense-03-desktop
      != '<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>'
      != '<!-- desktop-03 -->'
      != '<ins class="adsbygoogle"'
      !=     'style="display:inline-block; width:200px; height:200px"'
      !=     'data-ad-client="ca-pub-9026445537434187"'
      !=     'data-ad-slot="8771570159"></ins>'
      != '<script>'
      != '(adsbygoogle = window.adsbygoogle || []).push({});'
      != '</script>'

append content
  h1.offscreen Brasil de Fato
  main.grid-5-columns
    #fb-root
    #home
      .top
        if page.spotlight_01
          +spotlight_01_desktop(page.spotlight_01)
        else if page.advertising_02
          +spotlight_01_desktop(page.advertising_02, "http://schema.org/WPAdBlock")
        else
          +adsense_01_desktop()

        if page.spotlight_01
          +spotlight_01_mobile(page.spotlight_01)
        else if page.advertising_01
          +spotlight_01_mobile(page.advertising_01, "http://schema.org/WPAdBlock")
        else
          +adsense_01_mobile()

        if page.last_news
          section#last-news-dynamic.last-news(itemscope itemtype="https://schema.org/ItemList" class="spacing" hidden)
            a(itemprop="url" href="/ultimas_noticias/")
              h2.section-name Últimas notícias:
            ol(id="last-news-animation-true")
              each post in page.last_news
                li.inactive.last-news-analytics(itemprop="itemListElement")
                  a(href=post.path itemprop="url")
                    p.title= post.title

      .container
        .main
          if page.featured_01
            - var post=page.featured_01
            - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits

            div#featured-1(class="featured-big-picture" class="divisor" class="spacing")
              h3.offscreen= post.title
              a(href=post.path itemprop="url")
                figure(style=`background-image: url(${post.cover.medium});` aria-label=imageDescription title=imageDescription itemprop="image")
                  figcaption
                    h3.big-title(itemprop="caption")= post.title

          if page.featured_02
            - var post=page.featured_02
            - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
            +footer-article("featured-2", post, imageDescription)

          if page.featured_03
            - var post=page.featured_03
            - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
            +footer-article("featured-3", post, imageDescription)

          #featured-text-container(class="divisor" class= "spacing")
            if page.spotlight_02
              +spotlight_02_mobile(page.spotlight_02)
            else if page.advertising_03
              +spotlight_02_mobile(page.advertising_03, "http://schema.org/WPAdBlock")
            else
              +adsense_02_mobile()

            if page.featured_04
              - var post=page.featured_04
              div(class="featured-text-and-title" class= "spacing")
                span.hat= post.hat
                a(href=post.path itemprop="url")
                  h3.title(itemprop="headline")= post.title
                  p.description(itemprop="description")= post.description

            if page.featured_05
              - var post=page.featured_05
              +featured-text-box(post)

            if page.featured_06
              - var post=page.featured_06
              +featured-text-box(post)

            section(class= "columnists" class="spacing" itemscope itemtype="https://schema.org/ItemList")
              +columnists_list

            if page.spotlight_03
              +spotlight_03_mobile(page.spotlight_03)
            else if page.advertising_05
              +spotlight_03_mobile(page.advertising_05, "http://schema.org/WPAdBlock")

          if page.spotlight_02
            +spotlight_02_desktop(page.spotlight_02)
          else if page.advertising_04
            +spotlight_02_desktop(page.advertising_04, "http://schema.org/WPAdBlock")
          else
            +adsense_02_desktop()

          if page.featured_07
            - var post=page.featured_07
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-7", post, imageDescription)

          if page.featured_08
            - var post=page.featured_08
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-8", post, imageDescription)

          if page.featured_09
            - var post=page.featured_09
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-9", post, imageDescription)

          if page.featured_10
            - var post=page.featured_10
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-10", post, imageDescription)

          if page.spotlight_04
            +spotlight_04_mobile(page.spotlight_04)
          else if page.advertising_08
            +spotlight_04_mobile(page.advertising_08, "http://schema.org/WPAdBlock")

          section.printed-news(class="spacing")
            +printed-news-listings(page)

          section.newsletter(class="spacing")
            +newsletter("emailInputSingleColumnLayout")

          section#videos(class="gallery-videos" class="spacing")
            h2.section-name TV Brasil de Fato
            iframe(src="//www.youtube.com/embed?listType=playlist&list=PLytfbsQYLZpB5uDo8LRdjf9X9RfOlFw4d" allowfullscreen)

          section#images(itemscope itemtype="https://schema.org/ImageObject" class= "gallery-images" class="spacing")
            h2.section-name Fotos
            iframe(itemprop="image" src="//www.flickr.com/slideShow/index.gne?user_id=brasildefato&set_id=72157665304017756", width="450", height="337")

          if page.featured_11
            - var post=page.featured_11
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-11", post, imageDescription)

          if page.featured_12
            - var post=page.featured_12
            - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            +footer-article("featured-12", post, imageDescription)

          if page.photo_caption
            .photo-caption(class= "spacing")
              h2.section-name Artes
              - var post=page.photo_caption
              - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
              a(itemprop="url" href=post.path)
                figure.charge-mobile(itemscope itemtype="https://schema.org/ImageObject")
                  img.image-charge-mobile.charge_image_analytics(src=post.cover.medium alt="" title=imageDescription itemprop="image")
              a(itemprop="url" href=post.path)
                figure.charge-desktop.charge_image_analytics(style=`background-image: url(${post.cover.medium});` title=imageDescription itemscope itemtype="https://schema.org/ImageObject")

          if page.last_news
            section.last-news#last-news-desktop(class= "spacing" itemscope itemtype="https://schema.org/ItemList")
              meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
              a(itemprop="url" href="/ultimas_noticias/")
                h2.section-name Últimas Notícias
              ol
                - var index = 0;
                each post in page.last_news
                  li(itemprop="itemListElement")
                    if (post.cover)
                      - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
                      a(itemprop="url" href=post.path)
                        figure(style=`background-image: url(${post.cover.small});` title=imageDescription itemscope itemtype="https://schema.org/ImageObject")
                    a(itemprop="url" href=post.path)
                      h3.title= post.title
              a(href="/ultimas_noticias/" class="button" title="link para mais notícias")
                span Mais Notícias
          else
            if page.last_news
              section.last-news#last-news-mobile(class= "spacing" itemscope itemtype="https://schema.org/ItemList")
                meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
                a(itemprop="url" href="/ultimas_noticias/")
                  h2.section-name Últimas Notícias
                ol
                  each post in page.last_news
                    li(itemprop="itemListElement")
                      a(itemprop="url" href=post.path)
                        h3.title= post.title

          if page.most_read
            section.most-read(class="spacing" itemscope itemtype="https://schema.org/ItemList")
              meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrderAscending")
              h2.section-name Mais lidas
              ol#most-read-list
                - var cont = 1
                each post in page.most_read
                  li(itemprop="itemListElement")
                    a(itemprop="url", href=post.path)
                      h3.title(id="most_read_"+cont++)= post.title

        aside.sidebar(hidden itemscope itemtype="http://schema.org/WPSideBar")
          if page.spotlight_03
            +spotlight_03_desktop(page.spotlight_03)
          else if page.advertising_06
            +spotlight_03_desktop(page.advertising_06, "http://schema.org/WPAdBlock")
          else
            +adsense_03_desktop()

          if page.spotlight_04
            +spotlight_04_desktop(page.spotlight_04)
          else if page.advertising_09
            +spotlight_04_desktop(page.advertising_09, "http://schema.org/WPAdBlock")

          section(class= "columnists" class="spacing" itemscope itemtype="http://schema.org/ItemList")
            +columnists_list

          section.printed-news(class="spacing")
            +printed-news-listings(page)

          section.newsletter(class="spacing")
            +newsletter("emailInputMultipleColumnLayout")

          +facebook-widget(facebook_url)
block footer
  include _partial/home_footer
