extend base

append content
  #fb-root
  #home
    .main
      if page.featured_01
        - var post=page.featured_01
        - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
        article#featured-1(itemscope itemtype="https://schema.org/NewsArticle" class="featured-big-picture" class="divisor" class="spacing")
          a(itemprop="url" href=post.path)
            figure
              img(src=post.cover.small alt=imageDescription title=imageDescription itemprop="image")
              figcaption
                h3.title(itemprop="headline")= post.title

      if page.featured_02
        - var post=page.featured_02
        - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
        article#featured-2(itemscope itemtype="https://schema.org/NewsArticle" class="featured-small-picture" class="divisor" class="spacing")
          a(itemprop="url" href=post.path)
            figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
            h3.title(itemprop="headline")= post.title

      if page.featured_03
        - var post=page.featured_03
        - var imageDescription=post.cover.subtitle + ' - Créditos: ' + post.cover.credits
        article#featured-3(itemscope itemtype="https://schema.org/NewsArticle" class="featured-small-picture" class="divisor" class="spacing")
          a(itemprop="url" href=post.path)
            figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
            h3.title(itemprop="headline")= post.title

      #featured-text-container(class="divisor" class= "spacing")
        if page.featured_04
          - var post=page.featured_04
          article(itemscope itemtype="https://schema.org/NewsArticle" class="featured-text-and-title" class= "spacing")
            a(itemprop="url" href=post.path)
              h3.title(itemprop="headline")= post.title
              p.description(itemprop="description")= post.description

        if page.featured_05
          - var post=page.featured_05
          .box-container(class= "spacing")
            article(itemscope itemtype="https://schema.org/NewsArticle" class="featured-text-box")
              a(itemprop="url" href=post.path)
                h3.title(itemprop="headline")= post.title

        if page.featured_06
          - var post=page.featured_06
          .box-container(class= "spacing")
            article(itemscope itemtype="https://schema.org/NewsArticle" class="featured-text-box")
              a(itemprop="url" href=post.path)
                h3.title(itemprop="headline")= post.title

      figure(class= "radar" class= "spacing")
        a(itemprop="url" target="_blank" href="#{ url_for('http://radar.brasildefato.com.br') }" title="Radar dos Movimentos")
          img#radar_mobile(src="#{ url_for('img/radar_mobile.png') }" alt="imagem radar dos movimentos")

      section.printed-news(class="spacing")
        h2.section-name Edições Impressas    
        .printed-news-container
          img(src="#{ url_for('img/newspaper.png') }" alt="imagem do tabloide")
          .buttons-container
            if page.minas_gerais
              a(itemprop="url" class="button" href=page.minas_gerais.path) Minas Gerais
            if page.parana
              a(itemprop="url" class="button" href=page.parana.path) Paraná
            if page.rio_de_janeiro
              a(itemprop="url" class="button" href=page.rio_de_janeiro.path) Rio de Janeiro

      include _partial/modules/module_columnists

      section#videos(class="gallery-videos" class="spacing")
        h2.section-name TV Brasil de Fato
        iframe(src="//www.youtube.com/embed/zZrbJmAP8W8?list=PLytfbsQYLZpB5uDo8LRdjf9X9RfOlFw4d" allowfullscreen)

      section#images(class= "gallery-images" class="spacing")
        h2.section-name Fotos    
        .gallery-desktop
          a(data-flickr-embed="true", href="//www.flickr.com/photos/brasildefato/albums/72157665304017756" title="Brasil de Fato")
            img(src="//farm2.staticflickr.com/1555/25625164736_aa741c11ef.jpg", width="450" alt="Brasil de Fato")
          script(async="" src="//embedr.flickr.com/assets/client-code.js" charset="utf-8")
        .gallery-mobile
          a(data-flickr-embed="true" href="//www.flickr.com/photos/brasildefato/albums/72157665304017756" title="Brasil de Fato")
            img(src="//farm4.staticflickr.com/3679/11329756945_a5e569eb4c_n.jpg" width="370" alt="Brasil de Fato")
          script(async="" src="//embedr.flickr.com/assets/client-code.js" charset="utf-8")
        .gallery-mobile-smaller
          a(data-flickr-embed="true" href="//www.flickr.com/photos/brasildefato/albums/72157665304017756" title="Brasil de Fato")
            img(src="//farm4.staticflickr.com/3679/11329756945_a5e569eb4c_n.jpg" width="290" alt="Brasil de Fato")
          script(async="" src="//embedr.flickr.com/assets/client-code.js" charset="utf-8")

      if page.featured_07
        - var post=page.featured_07
        - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
        article#featured-7(itemscope itemtype="https://schema.org/NewsArticle" class="article-footer" class="spacing")
          span.hat(itemprop="about")= post.hat
          a(itemprop="url" href=post.path)
            figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
            h3.title(itemprop="headline")= post.title

      if page.featured_08
        - var post=page.featured_08
        - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
        article#featured-8(itemscope itemtype="https://schema.org/NewsArticle" class="article-footer" class="spacing")
          span.hat(itemprop="about")= post.hat
          a(itemprop="url" href=post.path)
            figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
            h2.title(itemprop="headline")= post.title
      
      if page.photo_caption
        article.photo-caption(itemscope itemtype="https://schema.org/Photograph" class= "spacing")
          - var post=page.photo_caption
          - var imageDescription=post.cover.subtitle + " - Créditos: " + post.cover.credits
            figure
              img(src=post.cover.small alt=imageDescription title=imageDescription itemprop="image")
              figcaption
                h3.small(itemprop="headline")= post.title
                p.credits(itemprop="creator")= post.cover.credits
       
      if page.last_news
        section.last-news(class= "spacing")
          meta(itemscope itemtype="http://schema.org/ItemList" itemprop="itemListOrder")
          h2.section-name Últimas notícias
          ol
            each post in page.last_news
              li(itemprop="itemListElement")
                a(itemprop="url" href=post.path)
                  h3.title(itemprop="headline")=post.title

      if page.most_read
        include _partial/modules/module_most_read

    aside.sidebar
      figure(class= "radar" class= "spacing")
        a(target="_blank" href="#{ url_for('http://radar.brasildefato.com.br') }" title="Radar dos Movimentos")
          img(src="#{ url_for('img/radar.png') }" alt="imagem radar dos movimentos")

      section.printed-news(class="spacing")
        h2.section-name Edições Impressas
        img(src="#{ url_for('img/newspaper.png') }" alt="imagem do tabloide")
        if page.minas_gerais
          a(class="button" href= page.minas_gerais.path) Minas Gerais
        if page.parana
          a(class="button" href= page.parana.path) Paraná
        if page.rio_de_janeiro
          a(class="button" href= page.rio_de_janeiro.path) Rio de Janeiro

      include _partial/modules/module_columnists

      if page.last_news
        section#side.last-news(class="spacing")
          meta(itemprop="itemListOrder" content="http://schema.org/ItemListOrdered")
          h2.section-name Últimas notícias
          if page.last_news
            ol
              each post, index in page.last_news
                li.inactive
                  a.title(itemprop="url", href=post.path) #{index + 1}. #{post.title}

      include _partial/modules/module_facebook
