extends base

block title
  title= titlecase(page.area) + " - Brasil de Fato"
  
block description
  - var area_field = page.area
  case area_field
    when "opinião"
      meta(name="description" content="Artigos de personalidades e colaboradores de movimentos populares, organizações sociais e sindicais. Página #{page.current + 1}")
    when "política"
      meta(name="description" content="O que acontece na política e na economia do Brasil. Página #{page.current + 1}")
    when "direitos humanos"
      meta(name="description" content="Cobertura de violações de direitos fundamentais e da luta pelos direitos das classes oprimidas. Página #{page.current + 1}")
    when "cultura"
      meta(name="description" content="Artes, cinema, música, teatro e diversas expressões e reflexões das culturas locais e nacionais. Página #{page.current + 1}")
    when "geral"
      meta(name="description" content="Notícias sobre educação, saúde, meio-ambiente, ciência, religião e mais. Página #{page.current + 1}")
    when "internacional"
      meta(name="description" content="Notícias, entrevistas e artigos de diversos países ao redor do mundo, com enfoque para América Latina. Página #{page.current + 1}")
    when "especiais"
      meta(name="description" content="Coberturas multimídia de temas da atualidade e de fatos históricos que marcaram o Brasil e o mundo. Página #{page.current + 1}")
    when "español"
      meta(name="description" content="Las noticias, entrevistas y artículos de Brasil de Fato traducidas al español. Notas en parceria con medios populares y alternativos de América Latina. Página #{page.current + 1}")      
    
      
block canonical
  - var area_field= page.area
  case area_field
    when "opinião"
      - var sitepath= "opiniao"
    when "política"
      - var sitepath= "politica"
    when "direitos humanos"
      - var sitepath= "direitos_humanos"
    when "cultura"
      - var sitepath= "cultura"
    when "geral"
      - var sitepath= "geral"
    when "internacional"
      - var sitepath= "internacional"
    when "especiais"
      - var sitepath= "especiais"
    when "español"
      - var sitepath= "espanol"
  link(href="https://www.brasildefato.com.br/#{sitepath}/" rel="canonical")
    
block keywords
  meta(name="keywords" content="#{page.area}")
      
block open_graph
  meta(property="og:title" content="#{page.area.toUpperCase()} | #{config.title}")
  meta(property="og:description" content=config.description)
  meta(property="og:image" content="#{config.url}/img/share-logo.png")

append content
  main.grid-3-columns
    if page.area=="español"
      - var language= "es"
    else
      - var language= null
      
    section#news-list(class= "list" itemscope itemtype="http://schema.org/ItemList" lang= language)
      h2(class="page-name" itemprop="name")= page.area
      
      - var position= 0
      each post in page.news
        - var published_at = utc_to_brt(post.date)
        
        a.news-item-link(href=post.path)
          .news-item(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor")
            meta(itemprop="url" content="https://www.brasildefato.com.br/#{post.path}")
            meta(itemprop="position" content="#{++position}")
            
            span(itemscope itemtype="https://schema.org/NewsArticle")
              meta(itemprop="author" content= post.author)
              meta(itemprop="dateModified" content=post.updated_at)
              meta(itemprop="mainEntityOfPage" content="https://www.brasildefato.com.br/#{sitepath}/")
              
              span(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
                span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
                  meta(itemprop="url" content="https://www.brasildefato.com.br/img/logo-microdata.jpg")
                  meta(itemprop="width" content="600")
                  meta(itemprop="height" content="60")
                meta(itemprop="name" content="Brasil de Fato")
                link(itemprop="sameAs" href="https://www.brasildefato.com.br")
                
              if post.cover
                .image
                  - var imageDescription= post.cover.subtitle + ' - Créditos: ' + post.cover.credits
                  figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
                    meta(itemprop="width" content="696")
                    meta(itemprop="height" content="464")
                    meta(itemprop="url" content="http://www.brasildefato.com.br/#{post.cover.url}")
                  
              .content(class="no-image" class= "divisor")
                h3.title(itemprop= "headline")= post.title
                p.description(itemprop="description")= post.description
                time.date(datetime=published_at.toISOString(), itemprop="datePublished")= 'Publicado em ' + full_date(published_at)
                
      include _partial/pagination
