extends base

append content
  include _partial/opinion/social_network

append content
  include _partial/opinion/breadcrumb

append content
  section#opinions(itemscope, itemtype="http://schema.org/ItemList")
    h1.hat Colunas
    - each post, index in site.posts.find({'layout': 'opinion'}).toArray()
      article.opinion(itemscope, itemtype="http://schema.org/BlogPosting", itemprop="itemListElement")
        - var columnist = site.data.columnists[post.columnist];
        section.person(itemscope, itemtype="http://schema.org/Person")
          a(href=url_for(columnist.path), title="link para a pagina do colunista")
            img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src=columnist.photo )        
          a(href=url_for(columnist.path), title="link para a pagina do colunista")
            h3.name(itemprop="name")= columnist.name        
        section.text
          h3.name_mobile(itemprop="name")= columnist.name
          a(href="#{ url_for(post.path) }", itemprop="url")
            h1.title(itemprop="headline")= post.title
          time.date-published(datetime=post.date, itemprop="datePublished")= post.date.format('DD/MM/YYYY')
          h2.job-title(itemprop="jobTitle")=post.description
        meta(itemprop="image", content='http:'+columnist.photo)
        meta(itemprop="position", content=index)
