extends base

append content
  section#opinions(itemscope, itemtype="http://schema.org/ItemList")
    h2.hat Colunas
    - each post, index in site.posts.find({'layout': 'opinion'}).toArray()
      article.opinion(itemscope, itemtype="http://schema.org/BlogPosting", itemprop="itemListElement")
        - var columnist = site.data.columnists[post.columnist];
        .person(itemscope, itemtype="http://schema.org/Person")
          a(href=url_for(columnist.path), title="link para a pagina do colunista")
            img.profile-image(itemprop="image", alt="Imagem de perfil do Colunista", src=columnist.photo )        
          a(href=url_for(columnist.path), title="link para a pagina do colunista")
            h4.name(itemprop="name")= columnist.name        
        .text
          h4.name_mobile(itemprop="name")= columnist.name
          a(href="#{ url_for(post.path) }", itemprop="url")
            h3.title(itemprop="headline")= post.title
          time.date-published(datetime=post.date.toISOString(), itemprop="datePublished")= post.date.format('DD/MM/YYYY')
          p.description(itemprop="description")=post.description
        meta(itemprop="image", content='http:'+columnist.photo)
        meta(itemprop="position", content=index)
