extends base

block title
  title #{titlecase(page.area)} #{config.separator} #{config.title}
  
block description
  meta(name="description" content="Charges e ilustrações com a análise política dos acontecimentos")
  
block canonical
  link(href="https://www.brasildefato.com.br#{page.url}" rel="canonical")
  
append content
  main(class='grid-4-columns')
    section#photo-caption
      h1.hat(itemprop="about") Charge
      h2.title(itemprop="headline")= page.title
      figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
        - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
        .img-container
          img(itemprop="url" alt=imageDescription src=page.cover['medium'])
          meta(itemprop="width" content="696")
          meta(itemprop="height" content="464")
        figcaption
          p.subtitle(itemprop="caption")= page.cover.subtitle
          p.credits(itemprop="author")= page.cover.credits
    
      a(href="/charges/" class="button" title="link para a pagina de charges") 
        span Todas as charges
      
      section#other-photo-captions
        a(itemprop="url" href="/charges/")
          h3 Outras charges
        .related_photo_captions
          each related in page.related_photo_captions
            .photo-caption-smaller
              - var imageDescription=related.cover.subtitle + " - Créditos: " + related.cover.credits
              figure(itemscope itemtype="https://schema.org/ImageObject")
                img(src=related.cover.small alt=imageDescription title=imageDescription itemprop="image")
                figcaption
                  p.subtitle(itemprop="caption")= related.cover.subtitle
                  p.credits(itemprop="author")= related.cover.credits
        
