extends base

block title
  title= `${titlecase(page.cover.subtitle)} ${config.separator} ${config.title}`

block description
  meta(name="description" content="Charges e ilustrações com a análise política dos acontecimentos")

block canonical
  link(href=url rel="canonical")

block open_graph
  include _partial/open_graph_page
  include _partial/twitter_meta_page
  meta(name="twitter:description" content=page.cover.subtitle)
  meta(property="og:description" content=page.cover.subtitle)

append content
  main(class='grid-4-columns')
    section#photo-caption
      div#breadcrumb
        ol(itemscope itemtype="http://schema.org/BreadcrumbList")
          li(itemprop="itemListElement" )
            a( href="/")
              p Início
          li
            i(class="fa fa-chevron-right fa-lg")
          li(itemprop="itemListElement")
            a(href="/charges/")
              p.breadcrumb-last Charges

      h1.hat(itemprop="about") Charge
      h2.title(itemprop="headline")= page.title

      figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
        - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
        .img-container
          img(itemprop="url" alt=imageDescription src=page.cover['medium'])
          meta(itemprop="width" content="696")
          meta(itemprop="height" content="464")
        figcaption
          p.credits(itemprop="author")= page.cover.credits
      include _partial/social-media-share

      section#other-photo-captions
        h3.section-name Outras charges
        if page.related_photo_captions
          .related_photo_captions
            each related in page.related_photo_captions
              .photo-caption-smaller
                - var imageDescription=related.cover.subtitle + " - Créditos: " + related.cover.credits
                a(itemprop="url", href=related.url)
                  figure(itemscope itemtype="https://schema.org/ImageObject")
                    img(src=related.cover.small alt=imageDescription title=imageDescription itemprop="image")
                    figcaption
                      p.subtitle(itemprop="caption")= related.cover.subtitle
                      p.credits(itemprop="author")= related.cover.credits
