extends base

block open_graph
  include _partial/open_graph_page

append content
  article#post(itemtype="http://schema.org/NewsArticle", itemscope)
    header
      span.hat(itemprop="about")= page.hat
      h2.title(itemprop="headline")= page.title
      h3.description(itemprop="description")= page.description
      h4.author(rel="author", itemprop="author")= page.author
      .place-and-time      
        h5.place(rel="place", itemprop="contentLocation")= page.place + ', '
        time(datetime=page.date.toISOString())= page.date.locale('pt-br').format(' DD [de] MMMM [de] YYYY, [às] HH:mm')    
      if page.cover
        figure(itemprop="image", itemscope, itemtype="http://schema.org/ImageObject")
          - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
          - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
          img(itemprop="thumbnail", alt=imageDescription, title=imageDescription, src=page.cover['medium'] )
          figcaption(itemprop="caption")= imageCaption
    .content
     != page.content
