extends base

block content
  article(itemscope="NewsArticle")
    header
      span.hat(itemprop="about")= page.hat
      h1(itemprop="headline")= page.title
      h2(itemprop="description")= page.description
      figure
        img(itemprop="image", alt="Foto capa da noticia", src=page.cover['url'] )
        figcaption= page.cover['subtitle']
      section.place-and-time
        = "Por "
        span(rel="author", itemprop="author")= page.author
        = ", "
        span(rel="place", itemprop="contentLocation")= page.place
        time(datetime=page.date)= page.date.locale('pt-br').format('LLLL')

    section.content
     != page.content
    aside
      h1 Mais Informações
      section
        a(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
          img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
        a(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
          h2 PME não garante aumento de recursos e diminui igualdade
      section
        a(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
          img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
        a(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
          h2 PME não garante aumento de recursos e diminui igualdade
      section
        a(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
          img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
        a(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
          h2 PME não garante aumento de recursos e diminui igualdade
    footer
      h1 Últimas Notícias
      section
        a(title="Link para notícia recente", href="//www.brasildefato.com.br")
          img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
        a(title="Link para notícia recente", href="//www.brasildefato.com.br")
          h2 15 partidos apresentam documento com propostas para superação da crise
      section
        a(title="Link para notícia recente", href="//www.brasildefato.com.br")
          img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
        a(title="Link para notícia recente", href="//www.brasildefato.com.br")
          h2 Doleiro Alberto Yousseff afirma que Aécio Neves recebeu propina de Furnas
      section
        a(title="Link para notícia recente", href="//www.brasildefato.com.br")
          img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
        a(title="Link para notícia recente", href="//www.brasildefato.com.br")
          h2 Pistoleiros atacam acampamentos do MST no MA e PR
      a.more-news(title="Link para todas as notícias", href="//www.brasildefato.com.br")
        = "Mais notícias..."

block after-content
    #newsletter
      h1 Gostou do que leu?
      h2 Receba nossas matérias por email
      .form
        input(name="email", type="email",placeholder="seu@email.com", required="true")
