extends base

block title
  title= titlecase(page.title) + " - " + titlecase(page.area) + " - Brasil de Fato"

block open_graph
  include _partial/open_graph_page

append content
  main
    if page.area=="espanol"
      - var language= "es"
    else
      - var language= null

    article#post(itemscope itemtype="http://schema.org/NewsArticle" lang= language)
      meta(itemprop="mainEntityOfPage" content=page.url)
      div(itemscope itemtype="https://schema.org/Organization" itemprop="publisher")
        meta(itemprop="name" content="Brasil de Fato")
        link(itemprop="sameAs" href="https://www.brasildefato.com.br")
      header
        - var published_at = utc_to_brt(page.date)
        span.hat(itemprop="about")= page.hat
        h2.title(itemprop="headline")= page.title
        p.description(itemprop="description")= page.description
        .details-bar
          .author-time
            span.author(rel="author" itemprop="author")= page.author
            .place-and-time      
              span.place(itemprop="contentLocation")= page.place + ', '
              time(itemprop="datePublished" datetime=published_at.toISOString())= full_date(published_at)
          a.share-whatsapp.fa.fa-whatsapp.fa-5x(href='whatsapp://send?text=#{config.url}/#{page.url}' data-action='share/whatsapp/share' title='Compartilhar no whatsapp')
        if page.cover
          figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
            - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
            - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
            img(itemprop="url" alt=imageDescription src=page.cover['medium'] )
            figcaption(itemprop="caption")= imageCaption
            
      .content(itemprop="articleBody")
       != page.content
      
       
