extends base

append content
  article#post(itemscope="NewsArticle")
    header
      span.hat(itemprop="about")= page.hat
      h1.title(itemprop="headline")= page.title
      h2.description(itemprop="description")= page.description
      figure
        img(itemprop="image", alt="Foto capa da noticia", src=page.cover['url'] )
        figcaption= page.cover['subtitle']
      section.place-and-time
        span.author(rel="author", itemprop="author")= page.author
        span.place(rel="place", itemprop="contentLocation")= page.place
        time(datetime=page.date)= page.date.locale('pt-br').format('LLLL')

    section.content
     != page.content

append content
  section#most-reads
    h1 Mais lidas
    nav
      ol
        li.title
          a(href="#")
            span=" \"Veja\" pede desculpas a Romârio por documento falso e será processada"
        li.title
          a(href="#")
            span= "Noites paulistanas"
        li.title
          a(href="#")
            span= "Os homens sórdidos e o temporal que se avizinha"
        li.title
          a(href="#")
            span= "Uma fortuna de 200 bilhões protegida do IR da pessoa fisica"
        li.title
          a(href="#")
            span= "No facebook, fraude estimula ato anti-Dilma"

  section#more-information
    h1 Mais Informações
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        h2.description Após protestos, Governo se diz otimista enquanto FHC pede renúncia
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        h2.description
          span.tag VÍDEO
          = " os gritos de 'fora dilma'"
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        h2.description Quem são os manifestantes de São Paulo, Rio de Janeiro e Brasilia
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        h2.description Em manifestação anti-dilma, Moro vira héroi e Renan é vaiado nas ruas
  section#last-news
    h1 Últimas Notícias
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        span.hat Congresso
        h2.description 15 partidos apresentam documento com propostas para superação da crise
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        span.hat Lava Jato
        h2.description Doleiro Alberto Yousseff afirma que Aécio Neves recebeu propina de Furnas
    section.news
      a.thumbnail-link(title="Link para noticia relacionada", href="//www.brasildefato.com.br")
        img(src="//farm6.staticflickr.com/5736/20898086726_eebae3719e_z.jpg", alt="Foto capa da noticia relacionada")
      a.lead-link(title="Link para notícia recente", href="//www.brasildefato.com.br")
        span.hat Reforma Agrária
        h2.description Pistoleiros atacam acampamentos do MST no MA e PR
    a.more-news(title="Link para todas as notícias", href="//www.brasildefato.com.br")
      = "Mais notícias..."

append after-content
  #newsletter
    h1 Gostou do que leu?
      h2 Receba nossas matérias por email
      .form
        input(name="email", type="email",placeholder="seu@email.com", required="true")
