extends base

block title
  title= titlecase(page.title) + " - " + titlecase(page.area) + " - Brasil de Fato"

block description
  meta(name="description" content=page.description)
  
block canonical
  link(href="https://www.brasildefato.com.br#{page.url}" rel="canonical")
  
block keywords
  meta(name="keywords" content="#{page.hat}, #{page.area}")

block open_graph
  include _partial/open_graph_page
  include _partial/twitter_meta_page

append content
  main.grid-4-columns
    if page.area=="espanol"
      - var language= "es"
    else
      - var language= null

    article#post(itemscope itemtype="http://schema.org/NewsArticle" lang= language)
      
      meta(itemprop="mainEntityOfPage" content="https://www.brasildefato.com.br#{page.url}")
      div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
        div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
          meta(itemprop="url" content="https://brasildefato.com.br/img/logo-microdata.jpg")
          meta(itemprop="width" content="600")
          meta(itemprop="height" content="60")
        meta(itemprop="name" content="Brasil de Fato")
        link(itemprop="sameAs" href="https://www.brasildefato.com.br")
        
      header
        - var published_at = utc_to_brt(page.date)
        span.hat(itemprop="about")= page.hat
        h2.title(itemprop="headline")= page.title
        p.description(itemprop="description")= page.description
        
        .details-bar
          .author-time
            span.author(rel="author" itemprop="author")= page.author
            .place-and-time
              span.place(itemprop="contentLocation")= page.place + ', '
              time(itemprop="datePublished" datetime=published_at.toISOString())= full_date(published_at)
              meta(itemprop="dateModified" content="#{page.updated_at}")
          include _partial/social-media-share
          
        if page.cover
          figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
            - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
            - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
            .img-container
              img(itemprop="url" alt=imageDescription src=page.cover['medium'])
              meta(itemprop="width" content="696")
              meta(itemprop="height" content="464")
            figcaption(itemprop="caption")= imageCaption

      .content(itemprop="articleBody")
        .text-content
          != page.content
          footer
            include _partial/social-media-share
        aside.sidebar(itemscope itemtype="http://schema.org/WPSideBar")
          include _partial/social-media-share
          include _partial/other-news
