extends base

block content
  article(itemscope="NewsArticle")
    header
      span.hat(itemprop="about")= page.hat
      h2(itemprop="headline")= page.title
      h3(itemprop="description")= page.description
      figure
        img(itemprop="image", alt="Foto capa da noticia", src=page.cover['url'] )
        figcaption= page.cover['subtitle']
      section.place-and-time
        = "Por "
        span(rel="author", itemprop="author")= page.author
        = ", "
        span(rel="place", itemprop="contentLocation")= page.place
        time(datetime=page.date)= page.date

    section.content
     != page.content


