extends base

block title
  title #{titlecase(page.title)} #{config.separator} #{config.title}

block description
  meta(name="description" content=page.description)
  
block canonical
  link(href="https://www.brasildefato.com.br#{page.url}" rel="canonical")

block keywords
  meta(name="keywords" content="#{page.area}")

block open_graph
  include _partial/open_graph_page
  include _partial/twitter_meta_page

append content
  main.grid-3-columns

    article#old_post

      header
        - var published_at = utc_to_brt(page.date)
        h1.title= page.title
        h2.description= page.description

        .details-bar
          .place-and-time
            time(datetime=published_at.toISOString())= date(published_at)
            meta(content=published_at.toISOString())
          include _partial/social-media-share

      .content
        != page.content
      footer
        include _partial/social-media-share
