extends base

block title
  +page_title(page.hat, page.title)

block open_graph
  include _partial/open_graph_page

append content
  if page.area=="espanol"
    - var language= "es"
  else
    - var language= null
  article#post(itemtype="http://schema.org/NewsArticle", itemscope lang= language)
    header
      - var published_at = utc_to_brt(page.date)
      span.hat(itemprop="about")= page.hat
      h2.title(itemprop="headline")= page.title
      p.description(itemprop="description")= page.description
      .details-bar
        .author-time
          span.author(rel="author", itemprop="author")= page.author
          .place-and-time      
            span.place(rel="place", itemprop="contentLocation")= page.place + ', '
            time(datetime=published_at.toISOString())= full_date(published_at)
        a.share-whatsapp.fa.fa-whatsapp.fa-5x(href='whatsapp://send?text=#{config.url}/#{page.url}' data-action='share/whatsapp/share' title='Compartilhar no whatsapp')
      if page.cover
        figure(itemprop="image", itemscope, itemtype="http://schema.org/ImageObject")
          - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
          - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
          img(itemprop="thumbnail", alt=imageDescription, title=imageDescription, src=page.cover['medium'] )
          figcaption(itemprop="caption")= imageCaption
          
    .content
     != page.content
    
     
