extends base

mixin social-media-share
  .share-bar
    p.share-title()= 'Compartilhe'
    .share-icons-container
      a.share-icon.fa.fa-facebook.fa-3x(href='https://www.facebook.com/sharer/sharer.php?u=#{config.url}#{page.url}%3Freferer=bdf_button_facebook' target='_blank' title='Compartilhar no Facebook')
      a.share-icon.fa.fa-twitter.fa-3x(href='https://twitter.com/share?url=#{config.url}#{page.url}%3Freferer=bdf_button_twitter' target='_blank' title='Compartilhar no Twitter')
      a.share-icon.share-mobile.fa.fa-whatsapp.fa-3x(href='whatsapp://send?text=#{config.url}#{page.url}%3Freferer=bdf_button_whatsapp' data-action='share/whatsapp/share' title='Compartilhar no whatsapp')
    
block title
  title= titlecase(page.title) + " - " + titlecase(page.area) + " - Brasil de Fato"

block description
  meta(name="description" content=page.description)

block open_graph
  include _partial/open_graph_page
  include _partial/twitter_meta_page

append content
  main.grid-3-columns
    if page.area=="espanol"
      - var language= "es"
    else
      - var language= null

    article#post(itemscope itemtype="http://schema.org/NewsArticle" lang= language)
      
      meta(itemprop="mainEntityOfPage" content=page.url)
      div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
        div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
          meta(itemprop="url" content="https://brasildefato.com.br/img/logo-microdata.jpg")
          meta(itemprop="width" content="600")
          meta(itemprop="height" content="60")
        meta(itemprop="name" content="Brasil de Fato")
        link(itemprop="sameAs" href="https://www.brasildefato.com.br")
        
      header
        - var published_at = utc_to_brt(page.date)
        span.hat(itemprop="about")= page.hat
        h2.title(itemprop="headline")= page.title
        p.description(itemprop="description")= page.description
        
        .details-bar
          .author-time
            span.author(rel="author" itemprop="author")= page.author
            .place-and-time
              span.place(itemprop="contentLocation")= page.place + ', '
              time(itemprop="datePublished" datetime=published_at.toISOString())= full_date(published_at)
              meta(itemprop="dateModified" content="#{page.updated_at}")
          +social-media-share
          
        if page.cover
          figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
            - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
            - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
            img(itemprop="url" alt=imageDescription src=page.cover['medium'])
            meta(itemprop="width" content="696")
            meta(itemprop="height" content="464")      
            figcaption(itemprop="caption")= imageCaption

      .content(itemprop="articleBody")
        != page.content
      footer
        +social-media-share
