extends base

append content
  include _partial/post/social_network

append content
  include _partial/post/breadcrumb

append content
  article#post(itemscope="NewsArticle")
    header
      span.hat(itemprop="about")= page.hat
        h1.title(itemprop="headline")= page.newTitle
      h2.description(itemprop="description")= page.description
      section.desktop.place-and-time
        time(datetime=page.date)= page.date.locale('pt-br').format('LLLL')
      figure
        img(itemprop="image", alt="Foto capa da noticia", src=page.cover['url'] )
        figcaption= page.cover.subtitle
      section.place-and-time
        span.author(rel="author", itemprop="author")= page.author
        br
        span.place(rel="place", itemprop="contentLocation")= page.place
        time(datetime=page.date)= page.date.locale('pt-br').format('LLLL')

    section.content
     != page.content

append content
  include _partial/post/most_reads
  include _partial/post/more_information
  include _partial/post/last_news

append after-content
  include _partial/post/newsletter
