extends base

block title
  title #{titlecase(page.area)} #{config.separator} #{config.title}

block description
  meta(name="description" content="As notícias do Brasil de Fato em áudio e texto para rádios do Brasil e da América Latina em nossa Radioagência BdF. Página #{page.current +1}")

block canonical
  link(href="https://www.brasildefato.com.br/radioagencia/" rel="canonical")

block keywords
  meta(name="keywords" content="#{page.area}")

block open_graph
  meta(property="og:title" content="#{page.area.toUpperCase()} | #{config.title}")
  meta(property="og:description" content=config.description)
  meta(property="og:image" content="#{config.url}/img/share-logo.png")

append content
  main.grid-3-columns

    section#radio(class= "list" itemscope itemtype="http://schema.org/ItemList" lang= language)
      h1(class="page-name" itemprop="name")= page.area

      - var position= 0
      each post in page.news
        - var published_at = utc_to_brt(post.date)

        .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor")
          meta(itemprop="url" content="https://www.brasildefato.com.br/#{post.path}")
          meta(itemprop="position" content="#{++position}")

          span(itemscope itemtype="https://schema.org/NewsArticle")
            meta(itemprop="author" content= post.author)
            meta(itemprop="dateModified" content=post.updated_at)
            meta(itemprop="mainEntityOfPage" content="https://www.brasildefato.com.br/#{sitepath}/")

            span(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
              span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
                meta(itemprop="url" content="https://www.brasildefato.com.br/img/logo-microdata.jpg")
                meta(itemprop="width" content="600")
                meta(itemprop="height" content="60")
              meta(itemprop="name" content="Brasil de Fato")
              link(itemprop="sameAs" href="https://www.brasildefato.com.br")
          
          a.news-radio-link(href=post.path)
            h2.title(itemprop= "headline")= post.title
          div.player(id="item_#{position}")
            .player-progress
              iframe.widget(src="https://w.soundcloud.com/player/?url=#{post.audio}&color=8c191f&auto_play=false&show_artwork=false&show_comments=false&show_playcount=true&hide_related=true&show_user=false&show_reposts=false&liking=false&visual=false&buying=false&sharing=false&download=true&following=false")
              i.play.fa.fa-play-circle-o(onclick="play(#{position});")
              i.pause.fa.fa-pause-circle-o(onclick="pause(#{position});")
              .progress-bar
                span.timeProgress 0:00
                progress(min='0', max='100', value='0')
                span.duration 0:00
            a.download 
              h3.button Download

      include _partial/pagination
