extends base
include _partial/audio_player
include _partial/modules/module_facebook

mixin metadata(position, post)
  meta(itemprop="url" content=`https://www.brasildefato.com.br/${post.path}`)
  meta(itemprop="position" content=position)

  span(itemscope itemtype="https://schema.org/NewsArticle")
    - var published_at = utc_to_brt(page.date)
    meta(itemprop="mainEntityOfPage" content=`https://www.brasildefato.com.br/${sitepath}/`)
    meta(itemprop="dateModified" content=published_at.toISOString())

    span(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
      span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
        meta(itemprop="url" content="https://www.brasildefato.com.br/img/logo-microdata.jpg")
        meta(itemprop="width" content="600")
        meta(itemprop="height" content="60")
      meta(itemprop="name" content="Brasil de Fato")
      link(itemprop="sameAs" href="https://www.brasildefato.com.br")

mixin columnist(column, columnist)
  .columnist-radio
    .columnist(itemprop="itemListElement" itemscope itemtype="https://schema.org/Person")
      .photo
        a(href=`/colunistas/${columnist.path}`, title="link para a pagina do colunista")
          img(alt=`Foto de ${columnist.name}` src=columnist.photo itemprop="image")
      .column
        a(href=`/colunistas/${columnist.path}`, title="link para a pagina do colunista")
          span.name(itemprop="name")= columnist.name
        a(href=column.path itemprop="url")
          h4.title= column.title
    if column.audio
      +audio-player(initial_index++, column.audio)

mixin columnists()
  if page.column_01 || page.column_02
    h3.section-name Colunistas
    if page.column_01
      - var column = page.column_01
      - var columnist = site.data.columnists[column.columnist];
      if columnist
        +columnist(column, columnist)

    if page.column_02
      - var column = page.column_02
      - var columnist = site.data.columnists[column.columnist];
      if columnist
        +columnist(column, columnist)

    a(href='/colunistas/' class="button" title="link para mais notícias")
      span= `Mais Colunas`

mixin article()
  if page.article
    h3.section-name Artigo
    - var article = page.article
    - var published_at = utc_to_brt(article.date)
    .article
      a(href=article.url title="link para a pagina do artigo")
        span.name(itemprop="name")= article.author
      a(href=article.url itemprop="url")
        h4.title= article.title
      time.date(datetime=published_at.toISOString(), itemprop="datePublished")= full_date(published_at)
      if article.audio
        +audio-player(initial_index++, article.audio)

    a(href='/radioagencia/artigos/' class="button" title="link para mais artigos")
      span= `Mais Artigos`

mixin service(service, service_data, index)
  .service
    - var published_at = utc_to_brt(service.date)
    h3.service-name(class=`service-0${index+1}`)=service_data.name
    a(href=service.url, itemprop="url")
      h4.title=service.title
    time.date(datetime=published_at.toISOString(), itemprop="datePublished")= full_date(published_at)
    if service.audio
      +audio-player(initial_index++, service.audio)
    if service_data.path
      a(href=service_data.path class="button" title="link para mais notícias")
        span= `Mais "${service_data.name}"`

mixin weeklyShows()
  h3.section-name Programas Semanais
  -
    var radios_data = [
      { name: 'São Paulo' },
      { name: 'Pernambuco' },
      { name: 'Minas Gerais' }
    ]
  each radio_data, index in radios_data
    - var radio = page[`radio_0${index+1}`]
    if radio
      +service(radio, radio_data, index)
  a(href='programa-semanal' class="button" title="link para mais notícias")
    span= `Mais "Programas Semanais"`

mixin featured-service(featured_service)
  .featured-service
    .featured-service-header
      figure.service-icon(style=`background-image: url('/img/icons/tempo.svg');` itemscope itemtype="https://schema.org/ImageObject")
      .time-local
        h3.service-name= service_name
        a(href=featured_service.url itemprop="url")
          h4.title= featured_service.title
    a(href=featured_service.url itemprop="url")
      p.description(itemprop="description")= featured_service.description
    .featured-service-audio
      +audio-player(initial_index++, featured_service.audio)

mixin services()
  h3.section-name Serviços
  -
    var services_data = [
      { name: 'Alimento é Saúde', path: 'alimento-e-saude' },
      { name: 'Mosaico Cultural', path: 'mosaico-cultural' },
      { name: 'Conectados', path: 'conectados' },
      { name: 'Momento Agroecológico', path: 'momento-agroecologico' },
      { name: 'Fala Aí', path: 'fala-ai' }
    ]
  each service_data, index in services_data
    - var service = page[`service_0${index+1}`]
    if service
      +service(service, service_data, index)

block title
  title=`Radioagência ${config.separator} ${config.title}`

block description
  meta(name="description" content="As notícias do Brasil de Fato em áudio e texto para rádios do Brasil e da América Latina em nossa Radioagência BdF.")

block canonical
  link(href="https://www.brasildefato.com.br/radioagencia/" rel="canonical")

block keywords
  meta(name="keywords" content="Radioagência")

block open_graph
  meta(property="og:title" content=`Radioagência | ${config.title}`)
  meta(property="og:description" content=config.description)
  meta(property="og:image" content=`${config.url}/img/share-logo.png`)

append content
  - initial_index = 0

  h1.offscreen Radioagência Brasil de Fato
  main.grid-5-columns
    #radioagency
      section#radioagency-list(class= "list" itemscope itemtype="http://schema.org/ItemList")
        if page.featured_01
          - var featured = page.featured_01
          - var published_at_featured = utc_to_brt(featured.date)
          .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor" id=`news_featured`)
            +metadata(0, featured)
            div#featured-audio-news
              .image
                - var imageDescription= featured.cover.subtitle + ' - Créditos: ' + featured.cover.credits
                a(href=featured.url itemprop="url" class="news-radio-link")
                  figure(style=`background-image: url(${featured.cover.medium});` title=imageDescription itemscope itemtype="https://schema.org/ImageObject")
              .info-news
                a(href=featured.url itemprop="url" class="news-radio-link")
                  h2.title-featured(itemprop= "headline")= featured.title
                  p.description(itemprop="description")= featured.description
                time.date(datetime=published_at_featured.toISOString(), itemprop="datePublished")= full_date(published_at_featured)
            if featured.audio
              +audio-player(initial_index++, featured.audio)

        - var post = page.latest_news[0]
        - var published_at_post = utc_to_brt(post.date)
        .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor" id=`news_1`)
          +metadata(1, post)
          a(href=post.url itemprop="url" class="news-radio-link")
            h2.title(itemprop= "headline")= post.title
            p.description(itemprop="description")= post.description
          time.date(datetime=published_at_post.toISOString(), itemprop="datePublished")= full_date(published_at_post)
          if post.audio
            +audio-player(initial_index++, post.audio)

        if page.service_weather || page.service_interview
          .services-within-list(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor")
            if page.service_weather
              +featured-service(page.service_weather)

        - var index_list = 1
        while index_list < 20
          - var post = page.latest_news[index_list++]
          - var published_at_post = utc_to_brt(post.date)
          .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor" id=`news_${index_list}`)
            +metadata(index_list, post)
            a(href=post.url itemprop="url" class="news-radio-link")
              h2.title(itemprop= "headline")= post.title
              p.description(itemprop="description")= post.description
            time.date(datetime=published_at_post.toISOString(), itemprop="datePublished")= full_date(published_at_post)
            if post.audio
              +audio-player(initial_index++, post.audio)

      aside.sidebar(hidden itemscope itemtype="http://schema.org/WPSideBar")
        +columnists()

        +article()

        .weekly-shows
          +weeklyShows()

        .services
          +services()

        .facebook
          +facebook-widget(facebook_url_radioagency)

      #sidebar-mobile
        +columnists()
        +article()
        +weeklyShows()
        +services()
        h3.section-name Mais Notícias
block footer
  include _partial/home_footer
