extends base

mixin audio-player(position, post)
  if post.audio
    .audio-item(id=`item_${position}`)
      .player
        audio.audio(src=post.audio id=`audio_${position}`)
        .controls
          .buttons
            .loader
            a.play(id=`play_${position}` onclick=`play(${position});`)
              img(src="/img/icons/play.svg" alt="Play")
            a.pause(onclick=`pause(${position});`)
              img(src="/img/icons/pause.svg" alt="Pausar")
          .progress-bar
            span.timeProgress 0:00
            .progress-and-source
              progress(max='100', value='0')
              a(href=post.audio target="_blank")
                p via SoundCloud
            span.duration 0:00
          a.download
            img(src="/img/icons/download.svg" alt="Baixar")
            h4 Baixar

mixin metadata(post)
  meta(itemprop="url" content=`https://www.brasildefato.com.br/${post.path}`)
  meta(itemprop="position" content=`${++position}`)

  span(itemscope itemtype="https://schema.org/NewsArticle")
    meta(itemprop="author" content= post.author)
    - var published_at = utc_to_brt(page.date)
    meta(itemprop="dateModified" content=published_at.toISOString())
    meta(itemprop="mainEntityOfPage" content=`https://www.brasildefato.com.br/${sitepath}/`)

    span(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
      span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
        meta(itemprop="url" content="https://www.brasildefato.com.br/img/logo-microdata.jpg")
        meta(itemprop="width" content="600")
        meta(itemprop="height" content="60")
      meta(itemprop="name" content="Brasil de Fato")
      link(itemprop="sameAs" href="https://www.brasildefato.com.br")

block title
  title=`Radioagência ${config.separator} ${config.title}`

block description
  meta(name="description" content="As notícias do Brasil de Fato em áudio e texto para rádios do Brasil e da América Latina em nossa Radioagência BdF.")

block canonical
  link(href="https://www.brasildefato.com.br/radioagencia/" rel="canonical")

block keywords
  meta(name="keywords" content="Radioagência")

block open_graph
  meta(property="og:title" content=`Radioagência | ${config.title}`)
  meta(property="og:description" content=config.description)
  meta(property="og:image" content=`${config.url}/img/share-logo.png`)

append content
  main.grid-radio
    section#radio(class= "list" itemscope itemtype="http://schema.org/ItemList" lang= language)
      - var sidebar = 'sidebar_disabled'
      if config.toggles.radio_sidebar
        - sidebar = 'sidebar_enabled'
      div(class=`main_${sidebar}`)
        if page.featured_01
          - var featured = page.featured_01
          .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor")
            +metadata(featured)
            div#featured-audio-news
              .image
                - var imageDescription= featured.cover.subtitle + ' - Créditos: ' + featured.cover.credits
                figure(itemscope itemtype="https://schema.org/ImageObject")
                  img(itemprop="image" src=featured.cover.medium alt=imageDescription title=imageDescription)
              .info-news
                a(href=featured.url itemprop="url" class="news-radio-link")
                  h2.title-featured(itemprop= "headline")= featured.title
                  p.description(itemprop="description")= featured.description
            +audio-player(0, featured)

        - var position= 0
        each post in page.latest_news
          - var published_at = utc_to_brt(post.date)
          .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor")
            +metadata(post)
            a(href=post.url itemprop="url" class="news-radio-link")
              h2.title(itemprop= "headline")= post.title
              p.description(itemprop="description")= post.description
            +audio-player(position, post)

      if config.toggles.radio_sidebar
        aside.sidebar(hidden itemscope itemtype="http://schema.org/WPSideBar")
          h3.section-name Coluna
          - var column = page.column
          - var columnist = site.data.columnists[column.columnist];
          .columnist(itemprop="itemListElement" itemscope itemtype="https://schema.org/Person")
            .photo
              a(href=column.path, title="link para a pagina do colunista")
                img(alt=`Foto de ${columnist.name}` src=columnist.photo itemprop="image")
            .column
              a(href=column.path, title="link para a pagina do colunista")
                span.name(itemprop="name")= columnist.name
              a(href=column.path itemprop="url")
                h2.title= column.title
          +audio-player(555, column)
          h3.section-name Serviço do dia
          h4.button Clima
          h4.button Alimento é saúde
          h4.button Notícias
          h3.section-name Newsletter
          h4.button Cadastre-se já! :)
          .facebook
            include _partial/modules/module_facebook
