extends base
include _partial/audio_player
include _partial/modules/module_facebook

mixin metadata(position, post)
  meta(itemprop="url" content=`https://www.brasildefato.com.br/${post.path}`)
  meta(itemprop="position" content=position)

  span(itemscope itemtype="https://schema.org/NewsArticle")
    - var published_at = utc_to_brt(page.date)
    meta(itemprop="mainEntityOfPage" content=`https://www.brasildefato.com.br/${sitepath}/`)
    meta(itemprop="dateModified" content=published_at.toISOString())

    span(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
      span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
        meta(itemprop="url" content="https://www.brasildefato.com.br/img/logo-microdata.jpg")
        meta(itemprop="width" content="600")
        meta(itemprop="height" content="60")
      meta(itemprop="name" content="Brasil de Fato")
      link(itemprop="sameAs" href="https://www.brasildefato.com.br")

mixin columnist(index)
  if page.column_01
    h3.section-name Coluna
    - var column = page.column_01
    - var columnist = site.data.columnists[column.columnist];
    if columnist
      .columnist(itemprop="itemListElement" itemscope itemtype="https://schema.org/Person")
        .photo
          a(href=`/colunistas/${columnist.path}`, title="link para a pagina do colunista")
            img(alt=`Foto de ${columnist.name}` src=columnist.photo itemprop="image")
        .column
          a(href=`/colunistas/${columnist.path}`, title="link para a pagina do colunista")
            span.name(itemprop="name")= columnist.name
          a(href=column.path itemprop="url")
            h4.title= column.title
      if column.audio
        +audio-player(index, column.audio)
      if config.toggles._pio0zWc4_audio_on_lists
        a(href='/colunistas/' class="button" title="link para mais notícias")
          span= `Mais Colunas`

mixin weeklyShow(index)
  if page.service_06
    h3.section-name Programa Semanal
    .service
      - var service = page.service_06
      - var published_at = utc_to_brt(service.date)
      a(href=service.url, itemprop="url")
        h4.title=service.title
      time.date(datetime=published_at.toISOString(), itemprop="datePublished")= full_date(published_at)
      if service.audio
        +audio-player(index, service.audio)
      if config.toggles._pio0zWc4_audio_on_lists
        a(href='programa-semanal' class="button" title="link para mais notícias")
          span= `Mais Programas Semanais`

mixin services(initial_index)
  h3.section-name Serviços
  -
    var services = [
      {
        name: 'Hoje na História', path: 'hoje-na-historia'
      },
      {
        name: 'Alimento é Saúde', path: 'alimento-e-saude'
      },
      {
        name: 'Nossos Direitos', path: 'nossos-direitos'
      },
      {
        name: 'Fatos Curiosos da História', path: 'fatos-curiosos'
      },
      {
        name: 'Mosaico Cultural', path: 'mosaico-cultural'
      }
    ]
  each service_data, index in services
    .service
      - var service = page[`service_0${index+1}`]
      - var published_at = utc_to_brt(service.date)
      h3.service-name(class=`service-0${index+1}`)=service_data.name
      a(href=service.url, itemprop="url")
        h4.title=service.title
      time.date(datetime=published_at.toISOString(), itemprop="datePublished")= full_date(published_at)
      if service.audio
        +audio-player(initial_index++, service.audio)
      if config.toggles._pio0zWc4_audio_on_lists
        a(href=service_data.path class="button" title="link para mais notícias")
          span= `Mais ${service_data.name}`

block title
  title=`Radioagência ${config.separator} ${config.title}`

block description
  meta(name="description" content="As notícias do Brasil de Fato em áudio e texto para rádios do Brasil e da América Latina em nossa Radioagência BdF.")

block canonical
  link(href="https://www.brasildefato.com.br/radioagencia/" rel="canonical")

block keywords
  meta(name="keywords" content="Radioagência")

block open_graph
  meta(property="og:title" content=`Radioagência | ${config.title}`)
  meta(property="og:description" content=config.description)
  meta(property="og:image" content=`${config.url}/img/share-logo.png`)

append content
  h1.offscreen Radioagência Brasil de Fato
  main.grid-5-columns
    #radioagency
      section#radioagency-list(class= "list" itemscope itemtype="http://schema.org/ItemList" lang= language)
        if page.featured_01
          - var featured = page.featured_01
          - var published_at_featured = utc_to_brt(featured.date)
          .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor" id=`news_featured`)
            +metadata(0, featured)
            div#featured-audio-news
              .image
                - var imageDescription= featured.cover.subtitle + ' - Créditos: ' + featured.cover.credits
                a(href=featured.url itemprop="url" class="news-radio-link")
                  figure(style=`background-image: url(${featured.cover.medium});` title=imageDescription itemscope itemtype="https://schema.org/ImageObject")
              .info-news
                a(href=featured.url itemprop="url" class="news-radio-link")
                  h2.title-featured(itemprop= "headline")= featured.title
                  p.description(itemprop="description")= featured.description
                time.date(datetime=published_at_featured.toISOString(), itemprop="datePublished")= full_date(published_at_featured)
            if featured.audio
              +audio-player(0, featured.audio)

        each post, index in page.latest_news
          - var published_at_post = utc_to_brt(post.date)
          .news-radio(itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement" class= "divisor" id=`news_${index+1}`)
            +metadata(index+1, post)
            a(href=post.url itemprop="url" class="news-radio-link")
              h2.title(itemprop= "headline")= post.title
              p.description(itemprop="description")= post.description
            time.date(datetime=published_at_post.toISOString(), itemprop="datePublished")= full_date(published_at_post)
            if post.audio
              +audio-player(index+1, post.audio)

      aside.sidebar(hidden itemscope itemtype="http://schema.org/WPSideBar")
        +columnist(555)

        if config.toggles._lWzSf1WX_weekly_radio_program
          +weeklyShow(101)

        .services
          +services(102)

        .facebook
          +facebook-widget(facebook_url_radioagency)

      #sidebar-mobile
        +columnist(556)
        if config.toggles._lWzSf1WX_weekly_radio_program
          +weeklyShow(201)
        +services(202)
        h3.section-name Mais Notícias
block footer
  include _partial/home_footer
