mixin picture(section)
  picture(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
    source(srcset=section.desktop media="(min-width: 690px)")
    img(itemprop="url" src=section.mobile  alt=section.title title=section.title)
    meta(itemprop="width" content="960")
    meta(itemprop="height" content="640")

mixin displayText(section)
  section.text.verticalSpacing !{section.text}

mixin displaySubtitle(section)
  section.subtitle.verticalSpacing
    h2.text= section.text

mixin displayImage(section)
  section.image.verticalSpacing
    +picture(section)
    if section.link
      a.link-text(itemprop="url" href=section.link target="_blank")= section.text
      
mixin displayImageCentralized(section)
  section.imageCentralized.verticalSpacing
    +picture(section)
    if section.link
      a.link-text(itemprop="url" href=section.link target="_blank")= section.text

mixin displayLinks(section)
  section.links.verticalSpacing
    h2.links-headline= section.title
    ul.links-container(itemscope itemtype="https://schema.org/ItemList")
      each item, category in section.links
        li.link(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          meta(itemprop="position" content=category)
          if item.url
            a(itemprop="url" href=item.url)
              figure
                img(src=item.cover  alt=item.title title=item.title itemprop="image")
              h3.link-figure-title(itemprop="name")= item.title
          else
            figure
              img(src=item.cover  alt=item.title title=item.title itemprop="image")
            h3.link-figure-title(itemprop="name")= item.title
            

mixin displayMultimedia(section)
  section.multimedia.verticalSpacing
    .container
      .video-wrapper.content-wrapper(style="padding-bottom: #{section.ratio};") !{section.embed}

mixin displayQuote(section)
  section.quote
    blockquote(itemprop="description")= section.text
    .quote-info
      h3.quote-source= section.source
      h3.quote-source-info= section.source_info

extends base

block title
  block vars
  title= page.title
  
block description
  meta(name="description" content=page.description)

block canonical
  link(href="https://www.brasildefato.com.br#{page.url}" rel="canonical")
  
block keywords
  meta(name="keywords" content=page.tags)

block open_graph
  include _partial/open_graph_page
  include _partial/twitter_meta_page
  meta(property="article:tag" content=page.tags)

block header
  include _partial/menu_special

append content
  main.special
    article(itemscope itemtype="http://schema.org/NewsArticle")
      meta(itemprop="mainEntityOfPage" content="https://www.brasildefato.com.br#{page.url}")
      meta(itemprop="dateModified" content=published_at.toISOString())
      address(rel="author" itemprop="author")= page.author
      time(itemprop="datePublished" datetime=published_at.toISOString())= full_date(published_at)

      div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
        div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
          meta(itemprop="url" content="https://brasildefato.com.br/img/logo-microdata.jpg")
          meta(itemprop="width" content="600")
          meta(itemprop="height" content="60")
        meta(itemprop="name" content="Brasil de Fato")
        link(itemprop="sameAs" href="https://www.brasildefato.com.br")

      figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
        section#cover(style="background-image: url(#{page.cover.link});")
        link(itemprop="url" href=page.cover.link)
        meta(itemprop="width" content="1200")
        meta(itemprop="height" content="800")

      section.title
        div.description
          h1.pageTitle(itemprop="headline")= page.title
          p.description(itemprop="description")= page.description

      div.blocks(itemprop="articleBody")
        each section in page.sections
          case section.type
            when 'links'
              +displayLinks(section)
            when 'text'
              +displayText(section)
            when 'subtitle'
              +displaySubtitle(section)
            when 'image'
              +displayImage(section)
            when 'multimedia'
              +displayMultimedia(section)
            when 'video'
              +displayVideo(section)
            when 'imagelink'
              +displayImageAsLink(section)
            when 'quote'
              +displayQuote(section)
            when 'imageCentralized'
              +displayImageCentralized(section)

        #share-special.share-special-top
          a.share-icon(href='https://www.facebook.com/sharer/sharer.php?u=#{config.url}#{page.url}%3Freferer=bdf_button_facebook' target='_blank' title='Compartilhe no Facebook')
            img(src="/img/social-media/share-facebook.svg" alt="Compartilhe no Facebook")
          a.share-icon(href='https://twitter.com/share?url=#{config.url}#{page.url}%3Freferer=bdf_button_twitter' target='_blank' title='Compartilhe no Twitter')
            img(src="/img/social-media/share-twitter.svg" alt="Compartilhe no Twitter")
          a.share-icon.share-mobile(href='whatsapp://send?text=#{config.url}#{page.url}%3Freferer=bdf_button_whatsapp' data-action='share/whatsapp/share' title='Compartilhe no whatsapp')
            img(src="/img/social-media/share-whatsapp.svg" alt="Compartilhe no WhatsApp")
