extends base

block title
  title= "Especial Marcas da Lama | Brasil de Fato"
  
block description
  meta(name="description" content="Especial Marcas da Lama.")

block canonical
  link(href="https://www.brasildefato.com.br/marcas-da-lama" rel="canonical")
  
block keywords
  meta(name="keywords" content="especial")

block header
  include _partial/menu_special
  
append content
  main.special
    section.cover(style="background-image: url(https://afitopi.files.wordpress.com/2016/05/photo-1461295025362-7547f63dbaea-1-e1463342677907.jpg);")
    section.title
      div.description
        h1="Especial Brasil de fato: Agricultura camponesa “Não há democracia sem direito à alimentação”"
        p="Diego Montón, da Via campesina, explica importância da Declaração dos Direitos Camponeses para toda sociedade." 
    div.blocks  
      section.text
        h2="Avanço das companhias transnacionais"
        p="O governo boliviano apresentou à Organização das Nações Unidas (ONU) uma proposta de Declaração de Direitos dos Camponeses em 2012. A ideia, construída durante quase uma década, partiu de movimentos camponeses de todo mundo vinculados à Via Campesina. Em entrevista ao Brasil de Fato, Diego Montón, integrante do Movimento Nacional Campesino y Indígena da Argentina, membro da secretaria operativa da Coordenação Latino-americana das Organizações do Campo Cloc e representante da América Latina no coletivo internacional da Via Campesina que discute a Declaração dos Direitos Camponeses, explica que o avanço das companhias transnacionais gerou uma série de novas violações de direitos humanos, exigindo que as organizações camponesas buscassem uma proteção internacional ao seu modo de vida e trabalho."
        p="Diego Montón, da Via campesina, explica importância da Declaração dos Direitos Camponeses para toda sociedade."
      section.text
        h2="Avanço das companhias transnacionais"
        p="O governo boliviano apresentou à Organização das Nações Unidas (ONU) uma proposta de Declaração de Direitos dos Camponeses em 2012. A ideia, construída durante quase uma década, partiu de movimentos camponeses de todo mundo vinculados à Via Campesina. Em entrevista ao Brasil de Fato, Diego Montón, integrante do Movimento Nacional Campesino y Indígena da Argentina, membro da secretaria operativa da Coordenação Latino-americana das Organizações do Campo Cloc e representante da América Latina no coletivo internacional da Via Campesina que discute a Declaração dos Direitos Camponeses, explica que o avanço das companhias transnacionais gerou uma série de novas violações de direitos humanos, exigindo que as organizações camponesas buscassem uma proteção internacional ao seu modo de vida e trabalho."
