mixin displayText(section)
  section.text
    h2= section.title
    p= section.text

mixin displayImage(section)
  section.image
    figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
      a(itemprop="url" href=section.url)
        img(itemprop="url" src=section.desktop  alt=section.title title=section.title)
        meta(itemprop="width" content="960")
        meta(itemprop="height" content="640")

mixin displayLinks(section)
  section.links
    h2.links-headline= section.title
    ul.links-container(itemscope itemtype="https://schema.org/ItemList")
      each p,i in section.links
        li.link(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
          meta(itemprop="position" content=i)
          a(itemprop="url" href=p.url)
            figure
              img(src=p.cover.link  alt=p.cover.title title=p.cover.title itemprop="image")
            h3.link-figure-title(itemprop="name")= p.title

extends base

block title
  block vars
  title= page.title
  
block description
  meta(name="description" content=page.description)

block canonical
  link(href="https://www.brasildefato.com.br#{page.url}" rel="canonical")
  
block keywords
  meta(name="keywords" content=page.tags)

block open_graph
  include _partial/open_graph_page
  include _partial/twitter_meta_page
  meta(property="article:tag" content=page.tags)

block header
  include _partial/menu_special

append content
  main.special
    article(itemscope itemtype="http://schema.org/NewsArticle")
      meta(itemprop="mainEntityOfPage" content="https://www.brasildefato.com.br#{page.url}")
      meta(itemprop="dateModified" content=published_at.toISOString())
      address(rel="author" itemprop="author")= page.author
      time(itemprop="datePublished" datetime=published_at.toISOString())= full_date(published_at)

      div(itemprop="publisher" itemscope itemtype="https://schema.org/Organization")
        div(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
          meta(itemprop="url" content="https://brasildefato.com.br/img/logo-microdata.jpg")
          meta(itemprop="width" content="600")
          meta(itemprop="height" content="60")
        meta(itemprop="name" content="Brasil de Fato")
        link(itemprop="sameAs" href="https://www.brasildefato.com.br")

      figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
        section.cover(style="background-image: url(#{page.cover.link});")
        link(itemprop="url" href=page.cover.link)
        meta(itemprop="width" content="1200")
        meta(itemprop="height" content="800")

      section.title
        div.description
          h1(itemprop="headline")= page.title
          p(itemprop="description")= page.description
      div.blocks(itemprop="articleBody")
        each s in page.sections
          if s.type == 'links'
            +displayLinks(s)
          else if s.type == 'text'
            +displayText(s)
          else if s.type == 'image'
            +displayImage(s)
