extends base

block title
  title= "Página não encontrada - Brasil de Fato"
  
block description
  meta(name="description" content="Página não encontrada no site Brasil de Fato - Erro 404.")

block canonical
  link(href="https://www.brasildefato.com.br/404" rel="canonical")
  
block keywords
  meta(name="keywords" content="404, pagina nao encontrada")
  
append content
  main.grid-3-columns(itemscope itemtype="http://schema.org/AboutPage")
    .institutional
      h2.page-name= "Página não encontrada"
      h2="Erro 404"
      br
      p="Não foi possível localizar o conteúdo desta página."
      p="Talvez o que você procura pode ser encontrado aqui:"
      #search-tool-404
        .gcse-search
        
