extends base

block title
  title= "Quem Somos - Brasil de Fato"
  
block description
  meta(name="description" content="Histórico e expediente do site e jornais impressos regionais.")

block canonical
  link(href="https://www.brasildefato.com.br/quem-somos" rel="canonical")
  
block keywords
  meta(name="keywords" content="histórico, conselho editorial")
  
append content
  main.grid-3-columns(itemscope itemtype="http://schema.org/AboutPage")
    article.institutional(itemprop="mainContentOfPage")
      h2.page-name= "Quem Somos"

      p= "O Brasil de Fato (BdF) é um site de notícias e possui jornais regionais no Rio de Janeiro, em Minas Gerais, São Paulo, no Paraná e em Pernambuco. Lançado em 25 de janeiro de 2003, o BdF circulou por mais de dez anos com uma versão impressa nacional."
      p= "Por entenderem que, na luta por uma sociedade justa e fraterna, a democratização dos meios de comunicação é fundamental, movimentos populares criaram o Brasil de Fato para contribuir no debate de ideias e na análise dos fatos do ponto de vista da necessidade de mudanças sociais em nosso país."
      p= "O primeiro veículo da rede Brasil de Fato foi o semanário nacional, lançado no Fórum Social Mundial de Porto Alegre, em janeiro de 2003. Logo após, foi lançado o site do Brasil de Fato, com coberturas das lutas sociais, entrevistas e notícias sobre política, economia, direitos humanos e cultura, sob uma visão popular das cidades, do Brasil e do mundo."  
      p= "Os jornais regionais surgiram a partir de maio de 2013 para promover uma aproximação com os leitores e leitoras, além de dialogar com as realidades locais, e hoje o cenário aponta para uma ampliação da cobertura, que deve alcançar ainda mais estados do país."
      p= "Plural e diversificado, o BdF reúne jornalistas, articulistas e movimentos populares do Brasil e do mundo." 
      p= "Além do site e das edições impressas, o Brasil de Fato circula pelas redes sociais, por Facebook,  Twitter, Youtube e Flickr."
      p= "Todos os conteúdos do Brasil de Fato podem ser reproduzidos livremente, sempre citando a fonte e publicados na íntegra."

      span(lang= "es")
        h2.title.underline= "Quienes Somos (Versión en Español)"
        
        p= "Brasil de Fato (BdF) es un portal de noticas orientado a cubrir procesos políticos, sociales, económicos y  culturales, a partir de una visión popular del Brasil y del mundo."
        p= "Promovido por movimientos populares, con la intención de crear un vehículo de comunicación comprometido con la lucha por una sociedad justa y fraterna, BdF fue lanzado en 2003, durante el Foro Social Mundial de Porto Alegre."
        p= "También nos comprometemos con la democratización de los medios de comunicación, con los movimientos y sectores populares, promoviendo debates en torno a las necesarias transformaciones del Brasil y la región."
        p= "Sustentado sobre la necesidad de profundizar el debate de ideas, Brasil de Fato reúne comunicadores e intelectuales comprometidos en la difusión de contenidos gráficos y audiovisuales que garanticen la circulación de una visión alternativa y popular."
        p= "Desde el 2013, frente a la necesidad de aproximarnos a los lectores y lectoras en un dialogo que contemple la pluralidad regional del país, BdF comenzó a lanzar ediciones regionales impresas en Rio de Janeiro, Minas Gerais, São Paulo, Paraná y Pernambuco, que se distribuyen gratuitamente."
        p= "Además del portal web de noticias y las ediciones impresas, puede acceder y seguir las producciones de Brasil de Fato vía Facebook,  Twitter, Youtube y Flickr." 
        p= "Todos nuestros contenidos puede ser reproducido por cualquier vehículo de comunicación, siempre que sea citada la fuente de información y publicados íntegramente."

      h3.title.underline= "Site Brasil de Fato"  
      
      dl.list
        dt Coordenação Geral:
        dd Beatriz Pasqualino
        dt Jornalismo:
        dd Vivian Fernandes, Camila Rodrigues da Silva, Simone Freire, José Eduardo Bernardes, Rafael Tatemoto, Rute Pina, Lilian Campelo, Cristiane Sampaio, Mauro Ramos e Juliana Golçalves
        dt Audiovisual:
        dd Norma Odara e Marcelo Cruz
        dt Rede de Colaboração:
        dd Luiz Felipe Albuquerque
        dt Arte:
        dd Jose Bruno Lima e Wilcker Morais
        dt Tradução:
        dd Maria Julia Gimenez
        dt Operação de áudio:
        dd Jorge Mayer
        dt Comercial:
        dd Raíssa Lazarini
        dt Estagiários:
        dd Julia Dolce, Laura Viana, Nadine Nascimento Nicholas Neto, Gabriela Lucena e Giuliana Marquesi

      h3.title.underline= "Impresso Minas Gerais"

      dl.list
        dt Conselho Editorial:
        dd Adília Sozzi, Adriano Pereira Santos, Adriano Ventura, Beatriz Cerqueira, Bernadete Esperança, Bruno Abreu Gomes, Carlos Dayrel, Cida Falabella, Cristina Bezerra, Durval  ngelo Andrade, Eliane Novato, Ênio Bohnenberger, Frederico Santana Rick, Frei Gilvander, Gilson Reis, Gustavo Bones, Jairo Nogueira Filho, Joana Tavares, João Paulo Cunha, Joceli Andrioli, José Guilherme Castro, Juarez Guimarães, Laísa Silva, Luís Carlos da Silva, Marcelo Oliveira Almeida, Milton Bicalho, Neemias Souza Rodrigues, Nilmário Miranda, Padre Henrique Moura, Padre João, Pereira da Viola, Renan Santos, Rilke Novato Públio, Rogério Correia, Samuel da Silva, Temístocles Marcelos e Wagner Xavier
        dt Edição:
        dd Joana Tavares 
        dt Redação:
        dd Larissa Costa, Pedro Rafael Vilela, Rafaella Dotta, Raíssa Lopes e Wallace Oliveira
        dt Colaboração:
        dd Acsa Brena, Anna Carolina Azevedo, André Fidusi, Bráulio Siffert, Diego Silveira, João Paulo, Léo Calixto, Marcos Assis, Olivia Santos, Rogério Hilário, Sofia Barbosa e Coletivo Henfil
        dt Revisão:
        dd Luciana Santos Gonçalves
        dt Distribuição:
        dd Jonathan Hassen
        dt Diagramação:
        dd Bruno Dayrell
        dt Administração:
        dd Vinicius Nolasco

      h3.title.underline= "Impresso Paraná"

      dl.list
        dt Coordenação:
        dd Pedro Carrano
        dt Jornalista responsável:
        dd Ednubia Ghisi
        dt Edição:
        dd Camilla Hoshino Reportagem: Laís Melo, Carolina Goetten e Franciele Petry Schramm 
        dt Articulistas:
        dd Júlio Carignano, Gibran Mendes Revisão: Paula Zarth Padilha, Maurini Souza Fotógrafos: Joka Madruga e Leandro Taques
        dt Diagramação:
        dd Vanda de Moraes Conselho Operativo: Pedro Carrano , Gustavo Erwin Kuss, Daniel Mittelbach e Luiz Fernando Rodrigues
        dt Administração:
        dd Clara Lume

      h3.title.underline= "Impresso Pernambuco"

      dl.list
        dt Coordenação:
        dd Pedro Carrano
        dt Edição: 
        dd Monyse Ravenna
        dt Redação: 
        dd Catarina de Angola, Elen Carvalho e Vinícius Sobreira
        dt Colaboração: 
        dd André Barreto, Daniel Lamir, Filipe Spencer, Francisco Marcelo, Malu Xavier, Roberto Efrem Filho
        dt Revisão: 
        dd Mariana Reis
        dt Distribuição: 
        dd Iyalê Tahyrine
        dt Diagramação: 
        dd Diva Braga
        dt Administração: 
        dd Halina Gouveia

      h3.title.underline= "Impresso Rio de Janeiro"

      dl.list
        dt Conselho Editorial:
        dd Alexania Rossato, Antonio Neiva (in memoriam), Joaquín Piñero, Kleybson Andrade, Mario Augusto Jakobskind, Nicolle Berti, Rodrigo Marcelino, Vito Giannotti (in memoriam)
        dt Edição:
        dd Vivian Virissimo
        dt Co-edição:
        dd Fania Rodrigues
        dt Reportagem:
        dd Bruno Porpetta, Mariana Pitasse e Pedro Rafael Vilela
        dt Revisão:
        dd Sheila Jacob
        dt Distribuição:
        dd Kleybson Andrade
        dt Diagramação:
        dd Juliana Braga
        dt Administração:
        dd Angela Bernardino e Marcos Araújo
