extends base

append content
  article#post(itemtype="http://schema.org/NewsArticle", itemscope)
    header
      - var published_at = custom_format_to_moment(page.date)
      h2.title(itemprop="headline")= page.title
      time(datetime=published_at.toISOString())= full_date(published_at)
      if page.cover
        a(target="_blank" href=page.issuu)
          figure(itemprop="image", itemscope, itemtype="http://schema.org/ImageObject")
            - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
            img(itemprop="thumbnail", alt=imageDescription, title=imageDescription, src=page.cover['medium'] )
    .content
      a(target="_blank" href=page.issuu)= "Leia a edição completa"
      != page.content
