extends base

block title
  - var area_field = page.display_area
  case area_field
    when "tabloid_mg"
      - var state= "Minas Gerais"
    when "tabloid_ce"
      - var state= "Ceará"
    when "tabloid_pe"
      - var state= "Pernambuco"
    when "tabloid_rj"
      - var state= "Rio de Janeiro"
    when "tabloid_pr"
      - var state= "Paraná"
        
  title= "Edição " + page.edition + " - " + state + " - Brasil de Fato" 
    
  
block description
  - var area_field = page.display_area
  case area_field
    when "tabloid_mg"
      meta(name="description" content="Notícias da edição impressa de Minas Gerais.")
    when "tabloid_ce"
      meta(name="description" content="Notícias da edição impressa do Ceará.")
    when "tabloid_pe"
      meta(name="description" content="Notícias da edição impressa de Pernambuco.")
    when "tabloid_rj"
      meta(name="description" content="Notícias da edição impressa do Rio de Janeiro.")
    when "tabloid_pr"
      meta(name="description" content="Notícias da edição impressa do Paraná.")
      
append content
  - var area_field = page.display_area
  case area_field
    when "tabloid_mg"
      - var acronym= "MG"
    when "tabloid_ce"
      - var acronym= "CE"
    when "tabloid_pe"
      - var acronym= "PE"
    when "tabloid_rj"
      - var acronym= "RJ"
    when "tabloid_pr"
      - var acronym= "PR"
    
  main.grid-3-columns
    section#tabloid(itemtype="http://schema.org/NewsArticle", itemscope)
      - var published_at = utc_to_brt(page.date)
      h2.title(itemprop="headline")= "Brasil de Fato " + acronym + " - Edição " + page.edition
      time(datetime=published_at.toISOString())= full_date(published_at)
      if page.cover
        .issuu
          figure(itemprop="image", itemscope, itemtype="http://schema.org/ImageObject")
            a(itemprop="url" href=page.issuu target="_blank")
              img(itemprop="thumbnail", alt=page.title, src=page.cover['medium'])
      if page.issuu
        a(itemprop="url" href=page.issuu target="_blank")
          span(class="button" itemprop="url")="Leia a versão impressa"
      if page.content
        .body-content
          !=page.content
      if page.areas
        each area in page.areas
          section(class= "list")
            h3(class="section-name" itemprop="about")= area.name
            each post in area.news
              - var published_at = utc_to_brt(post.date)
              a.news-item-link(href=post.url)
                article.news-item(itemscope itemtype="https://schema.org/NewsArticle" itemprop="itemListElement" class= "divisor")
                  h4.offscreen(itemprop= "headline")= post.title
                  if post.cover
                    .image
                      - var imageDescription= post.cover.subtitle + ' - Créditos: ' + post.cover.credits
                      figure(style="background-image: url(#{post.cover.small});" aria-label=imageDescription title=imageDescription itemprop="image")
                  .content(class="no-image" class= "divisor")
                    p.title(itemprop= "headline")= post.title
                    p.description(itemprop="description")= post.description
