extends base

append content
  section#tabloid(itemtype="http://schema.org/NewsArticle", itemscope)
    - var published_at = utc_to_brt(page.date)
    h2.title(itemprop="headline")= page.title
    time(datetime=published_at.toISOString())= full_date(published_at)
    if page.cover
      figure(itemprop="image", itemscope, itemtype="http://schema.org/ImageObject")
        - var imageCaption = page.cover.subtitle + ' / ' + page.cover.credits
        - var imageDescription = page.cover.subtitle + ' - Créditos: ' + page.cover.credits
        img(itemprop="thumbnail", alt=imageDescription, title=imageDescription, src=page.cover['medium'] )
    if page.areas
      each area in page.areas
        - var area_name = area.name
        - var news = area.news
        include _partial/list
