header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  div.banner-header
    div.banner-elements
      figure.menu-options(data-toggle="nav#menu-mobile")
        img#hamburguer(data-toggle="nav#menu-mobile", src="#{ url_for('img/hamburguer-menu.svg') }", alt="imagem menu")
      a(href="#{ url_for('index.html') }", title="Link para a página principal")
        img#logo-header-mobile(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
        img#logo-header-desktop(src="#{ url_for('img/logo-tagline.svg') }", alt="imagem brasil de fato")
      div#header-icons
        include social-media-icons
        a(href="#{ url_for('') }", title="Lupa de Pesquisa")
          img#search(src="#{ url_for('img/search-icon.svg') }", alt="imagem lupa")
  include menu_desktop
