header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  div.banner-header
    div.banner-elements
      include menu_mobile
      figure#logo_bdf
        a(href="#{ url_for('index.html') }", title="Link para a página principal")
          img.mobile#logo(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
          img.desktop#logo(src="#{ url_for('img/logo-tagline.svg') }", alt="imagem brasil de fato")
      div#icons
        figure
          a(target="_blank", href="#{ url_for('fb://profile/185129231535049') }", title="Facebook do Brasil de Fato")
            img#social-media(src="#{ url_for('img/social-media/facebook.svg') }", alt="imagem facebook") 
        figure
          a(target="_blank", href="#{ url_for('twitter://user?id=64257256') }", title="Twitter do Brasil de Fato")
            img#social-media(src="#{ url_for('img/social-media/twitter.svg') }", alt="imagem twitter")
        figure
          a(target="_blank", href="#{ url_for('youtube://www.youtube.com/user/channelname/AgênciaBrasildeFato') }", title="Youtube do Brasil de Fato")
            img#social-media(src="#{ url_for('img/social-media/youtube.svg') }", alt="imagem youtube")
        figure 
          a(href="#{ url_for('') }", title="Lupa de Pesquisa")
            img#search(src="#{ url_for('img/search-icon.svg') }", alt="imagem lupa")
  include menu_desktop
