nav#menu-desktop(hidden itemscope itemtype="http://schema.org/SiteNavigationElement")
  ul.full-menu-list
    li
      a(itemprop="url" href="/")= 'Início'
      meta(itemprop="name" content="Início")
    - var list = {opiniao:'Opinião', politica:'Política', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral', internacional:'Internacional', especiais:'Especiais', espanol:'Español'}
    - if (config.toggles._2NZBR1YM_radio_menu) {
    -   list.radio = 'Rádio'
    - }
    each val,index in list
      li
        a(itemprop="url", href="/" + index + "/")= val
        meta(itemprop="name" content=val)

nav#two-lines-menu(hidden itemscope itemtype="http://schema.org/SiteNavigationElement")
  ul.full-menu-list#menu-first-line
    li
      a(itemprop="url" href="/")= 'Início'
      meta(itemprop="name" content="Início")
    each val,index in {opiniao:'Opinião', politica:'Política', direitos_humanos:'Direitos Humanos', cultura:'Cultura', geral:'Geral'}
      li
        a(itemprop="url", href="/" + index + "/")= val
        meta(itemprop="name" content=val)
  ul.full-menu-list 
    - var list = { internacional:'Internacional', especiais:'Especiais', espanol:'Español'}
    - if (config.toggles._2NZBR1YM_radio_menu) {
    -   list.radio = 'Rádio'
    - }
    each val,index in list
      li
        a(itemprop="url", href="/" + index + "/")= val
        meta(itemprop="name" content=val)
