header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  div.banner-header
    div.banner-elements
      figure.menu-options(data-toggle="nav.menu-nav")
        img#hamburguer(data-toggle="nav.menu-nav", src="#{ url_for('img/hamburguer-menu.svg') }", alt="imagem menu")
        nav.menu-nav(itemscope, itemtype="http://schema.org/SiteNavigationElement")
          div.menu-header
            img#close-bttn(src="#{ url_for('img/close-bttn.svg') }", alt="imagem botao fechar")
            a(href="#{ url_for('/') }")
              img#open-bdf(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
          div.menu-scrollable
            ul  
              hr
              li
                a.active(itemprop="url", href="home")= "Home"
                meta(itemprop="name",content="string") 
              hr
              li
                a(itemprop="url", href="nacional")= "Nacional"
                meta(itemprop="name",content="string")
              hr
              li
                a(itemprop="url", href="internacional")= "Internacional"
                meta(itemprop="name",content="string")
              hr
              li
                a(itemprop="url", href="cultura")= "Cultura"
                meta(itemprop="name",content="string")
              hr
              li
                a(itemprop="url", href="direitos_humanos")= "Direitos Humanos"
                meta(itemprop="name",content="string")
              hr
              li
                a(itemprop="url", href="bem_viver")= "Bem Viver"
                meta(itemprop="name",content="string")
              hr
              li
                a(itemprop="url", href="expediente")= "Expediente"
                meta(itemprop="name",content="string")
              hr
              li
                a(itemprop="url", href="parceiros")= "Parceiros"
                meta(itemprop="name",content="string")
              hr 
              li
                a(itemprop="url", href="publicidade")= "Publicidade"
                meta(itemprop="name",content="string")
              hr 
              li
                a(itemprop="url", href="contato")= "Contato"
                meta(itemprop="name",content="string")
              hr  
            div.menu-logos
              a(target="_blank", href="#{ url_for('http://www.facebook.com/brasildefato') }", title="Facebook do Brasil de Fato")
                img#social-media-mobile(src="#{ url_for('img/social-media/facebook.svg') }", alt="imagem facebook") 
              a(target="_blank", href="#{ url_for('http://www.facebook.com/brasildefato') }", title="Facebook do Brasil de Fato")
                img#social-media-mobile(src="#{ url_for('img/social-media/twitter.svg') }", alt="imagem twitter") 
              a(target="_blank", href="#{ url_for('http://www.youtube.com/c/AgênciaBrasildeFato') }", title="Youtube do Brasil de Fato")
                img#social-media-mobile(src="#{ url_for('img/social-media/youtube.svg') }", alt="imagem youtube")      
      figure#logo_bdf
        a(href="#{ url_for('index.html') }", title="Link para a página principal")
          img.mobile#logo(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
          img.desktop#logo(src="#{ url_for('img/logo-tagline.svg') }", alt="imagem brasil de fato")
      div#icons
        figure
          a(target="_blank", href="#{ url_for('fb://profile/185129231535049') }", title="Facebook do Brasil de Fato")
            img#social-media(src="#{ url_for('img/social-media/facebook.svg') }", alt="imagem facebook") 
        figure
          a(target="_blank", href="#{ url_for('twitter://user?id=64257256') }", title="Twitter do Brasil de Fato")
            img#social-media(src="#{ url_for('img/social-media/twitter.svg') }", alt="imagem twitter")
        figure
          a(target="_blank", href="#{ url_for('youtube://www.youtube.com/user/channelname/AgênciaBrasildeFato') }", title="Youtube do Brasil de Fato")
            img#social-media(src="#{ url_for('img/social-media/youtube.svg') }", alt="imagem youtube")
        figure 
          a(href="#{ url_for('') }", title="Lupa de Pesquisa")
            img#search(src="#{ url_for('img/search-icon.svg') }", alt="imagem lupa")
  div.banner-options
    ul
      li
        a(itemprop="url", href="nacional")= "Nacional"
        meta(itemprop="name",content="string")
      hr
      li
        a(itemprop="url", href="internacional")= "Internacional"
        meta(itemprop="name",content="string")
      hr
      li
        a(itemprop="url", href="cultura")= "Cultura"
        meta(itemprop="name",content="string")
      hr
      li
        a(itemprop="url", href="direitos_humanos")= "Direitos Humanos"
        meta(itemprop="name",content="string")
      hr
      li
        a(itemprop="url", href="bem_viver")= "Bem Viver"
        meta(itemprop="name",content="string")