header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  div.banner-header
    figure.menu-options(data-toggle="nav.menu-nav")
      img#hamburguer(src="#{ url_for('img/hamburguer-menu.svg') }", alt="imagem menu")
      nav.menu-nav(itemscope, itemtype="http://schema.org/SiteNavigationElement")
        ul
          li
            a.active(itemprop="url", href="nacional")= "Nacional"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="bem_viver")= "Bem Viver"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="direitos_humanos")= "Direitos Humanos"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="internacional")= "Internacional"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="cultura")= "Cultura"
            meta(itemprop="name",content="string")
    figure
      a(href="#{ url_for('index.html') }", title="Link para a página principal")
        img#logo(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
    figure
      a(href="#{ url_for('index.html') }", title="Link para a página principal")
        img#search(src="#{ url_for('img/search-icon.svg') }", alt="imagem lupa")
  figure.menu-options(data-toggle="nav.menu-nav")
    
