header#page-header(itemscope, itemtype="http://schema.org/WPHeader")
  div.banner-header
    figure.menu-options(data-toggle="nav.menu-nav")
      img#hamburguer(src="#{ url_for('img/hamburguer-menu.svg') }", alt="imagem menu")
      nav.menu-nav(itemscope, itemtype="http://schema.org/SiteNavigationElement")
        ul
          li
            a.active(itemprop="url", href="home")= "Home"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="tabloides")= "Tablóides"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="nacional")= "Nacional"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="internacional")= "Internacional"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="cultura")= "Cultura"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="direitos_humanos")= "Direitos Humanos"
            meta(itemprop="name",content="string")
          li
            a(itemprop="url", href="bem_viver")= "Bem Viver"
            meta(itemprop="name",content="string")
          
    div.empty-div            
    figure#logo_bdf
      a(href="#{ url_for('index.html') }", title="Link para a página principal")
        img.mobile#logo(src="#{ url_for('img/logo.svg') }", alt="imagem brasil de fato")
        img.desktop#logo(src="#{ url_for('img/logo-tagline.svg') }", alt="imagem brasil de fato")
    div#icons
      figure
        a(href="#{ url_for('http://www.facebook.com/brasildefato') }", title="Facebook do Brasil de Fato")
          img#social-media(src="#{ url_for('img/social-media/facebook.svg') }", alt="imagem facebook") 
      figure
        a(href="#{ url_for('http://twitter.com/Brasil_de_Fato') }", title="Twitter do Brasil de Fato")
          img#social-media(src="#{ url_for('img/social-media/twitter.svg') }", alt="imagem twitter")
      figure
        a(href="#{ url_for('http://www.youtube.com/user/brasildefato') }", title="Youtube do Brasil de Fato")
          img#social-media(src="#{ url_for('img/social-media/youtube.svg') }", alt="imagem youtube")
      figure 
        a(href="#{ url_for('') }", title="Lupa de Pesquisa")
          img#search(src="#{ url_for('img/search-icon.svg') }", alt="imagem lupa")
