nav.banner-options
  ul
    li
      a(itemprop="url", href="nacional")= "Nacional"
      meta(itemprop="name",content="string")
    hr
    li
      a(itemprop="url", href="internacional")= "Internacional"
      meta(itemprop="name",content="string")
    hr
    li
      a(itemprop="url", href="cultura")= "Cultura"
      meta(itemprop="name",content="string")
    hr
    li
      a(itemprop="url", href="direitos_humanos")= "Direitos Humanos"
      meta(itemprop="name",content="string")
    hr
    li
      a(itemprop="url", href="bem_viver")= "Bem Viver"
      meta(itemprop="name",content="string")
