if config
  meta(property="og:url" content=url)
  meta(property="og:site_name" content=config.title)

block open_graph
  if config
    meta(property="og:title" content=config.title)
    meta(property="og:description" content=config.description)
    meta(property="og:image" content="#{config.url}/img/share-logo.png")
