- var published_at = custom_format_to_moment(page.date)

meta(property="og:title" content="#{page.title} | #{config.title}")
meta(property="og:description" content=page.description)
meta(property="og:type" content="article")
meta(property="article:published_time" content=published_at.toISOString())
meta(property="article:section" content=page.area)
meta(property="article:tag" content=page.hat)
meta(property="article:publisher" content=config.social.facebook_url)

if page.cover
  meta(property="og:image" content="https:#{page.cover.link}")
else
  meta(property="og:image" content="#{config.url}/img/share-logo.png")
