if page.other_news
  if page.other_news.length > 0
    .other-bar
      h2.other-title Outras Notícias
      .other-article-container(itemscope itemtype="https://schema.org/ItemList")
        each p,i in page.other_news
          - var imageDescription=p.cover.subtitle + " - Créditos: " + p.cover.credits
          - var articleId = "other-" + i
          article(id=articleId itemprop="itemListElement" class="other-article" class="spacing")
            a(itemprop="url" href=p.url)
              figure(itemscope itemtype="https://schema.org/ImageObject")
                img(src="#{p.cover.link}"  alt=imageDescription title=imageDescription itemprop="image")
                figcaption
                  h3.other-figure-title(itemprop="caption")= p.title
