meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content=twitter_user)
meta(name="twitter:creator" content=twitter_user)
meta(name="twitter:title" content="#{page.title} | #{config.title}")

if page.description
  meta(name="twitter:description" content=page.description)

if page.cover
  meta(name="twitter:image" content="http:#{page.cover.link}")
else
  meta(name="twitter:image" content="#{config.url}/img/share-logo.png")
