extends ../layout/base

append content
  article.institutional(itemtype="http://schema.org/NewsArticle", itemscope)
    h2.page-name(itemprop="about")= "Contato"

    h3.title= "Site Brasil de Fato"  
    
    ul.list
      li.item
        i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:jornalismo@brasildefato.com.br")jornalismo@brasildefato.com.br]
      li.item 
        i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//www.facebook.com/brasildefato")  www.facebook.com/brasildefato]
      li.item 
        i.fa.fa-twitter-square.fa-lg #[a(target="_blank" class="text" href="//twitter.com/Brasil_de_Fato")  twitter.com/Brasil_de_Fato]
      li.item 
        i.fa.fa-youtube.fa-lg #[a(target="_blank" class="text" href="//www.youtube.com/c/AgênciaBrasildeFato")www.youtube.com/c/AgênciaBrasildeFato]
      li.item 
        i.fa.fa-whatsapp.fa-lg #[a(target="_blank" class="text" href="///web.whatsapp.com") +55 11 98739-4232]

    h3.title= "Impresso Minas Gerais"

    ul.list
      li.item 
        i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:redacaomg@brasildefato.com.br")redacaomg@brasildefato.com.br]
      li.item
        i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//www.facebook.com/brasildefatomg")  www.facebook.com/brasildefatomg]

    h3.title= "Impresso Paraná"

    ul.list
      li.item
        i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:redacaopr@brasildefato.com.br")redacaopr@brasildefato.com.br]
      li.item
        i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//www.facebook.com/BDFPR ")  www.facebook.com/BDFPR]

    h3.title= "Impresso Rio de Janeiro"

    ul.list
      li.item
        i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:redacaorj@brasildefato.com.br")redacaorj@brasildefato.com.br]
      li.item
        i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//www.facebook.com/brasildefatorj")  www.facebook.com/brasildefatorj]

