extends ../layout/base

block title
  title= "Contato - Brasil de Fato"

block description
  meta(name="description" content="Entre em contato com a redação, administrativo e publicidade do site e dos jornais regionais.")

block canonical
  link(href="https://www.brasildefato.com.br/contato.html" rel="canonical")

block keywords
  meta(name="keywords" content="contato, email, telefone, redes sociais, facebook, twitter, youtube")

append content
  main.grid-3-columns(itemtype="https://schema.org/ContactPage", itemscope)
    article.institutional(itemprop="mainContentOfPage")
      h2.page-name= "Contato"

      h3.title= "Site Brasil de Fato"  
      
      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:jornalismo@brasildefato.com.br") jornalismo@brasildefato.com.br]
        li.item
          i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//".concat(facebook_url)) !{facebook_url}]
        li.item
          i.fa.fa-twitter-square.fa-lg #[a(target="_blank" class="text" href="//".concat(twitter_url)) !{twitter_url}]
        li.item
          i.fa.fa-youtube-square.fa-lg #[a(target="_blank" class="text" href="//".concat(youtube_url)) !{youtube_url}]
        li.item
          i.fa.fa-phone-square.fa-lg
            span.text +55 11 94594-3576

      h3.title= "Impresso Minas Gerais"

      ul.list
        li.item 
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:redacaomg@brasildefato.com.br") redacaomg@brasildefato.com.br]
        li.item
          i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//".concat(facebook_url_mg)) !{facebook_url_mg}]

      h3.title= "Impresso Paraná"

      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:redacaopr@brasildefato.com.br") redacaopr@brasildefato.com.br]
        li.item
          i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//".concat(facebook_url_pr)) !{facebook_url_pr}]

      h3.title= "Impresso Rio de Janeiro"

      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:redacaorj@brasildefato.com.br") redacaorj@brasildefato.com.br]
        li.item
          i.fa.fa-facebook-official.fa-lg #[a(target="_blank" class="text" href="//".concat(facebook_url_rj)) !{facebook_url_rj}]
