extends ../layout/base

block title
  title= "Publicidade - Brasil de Fato"

block description
  meta(name="description" content="Quer anunciar conosco? Conheça o mídia kit do site Brasil de Fato e das edições impressas regionais.")

block canonical
  link(href="https://www.brasildefato.com.br/publicidade.html" rel="canonical")
  
block keywords
  meta(name="keywords" content="contato, mídia kit")
  
append content
  main.grid-3-columns
    article.institutional
      h2.page-name= "Publicidade"

      h3.title= "Site Brasil de Fato"  
      
      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:publicidade@brasildefato.com.br") publicidade@brasildefato.com.br]
        li.item
          i.fa.fa-phone-square.fa-lg
            span.text (11) 2131-0814 

      h3.title= "Impresso Minas Gerais"

      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:brasildefatomg@brasildefato.com.br") brasildefatomg@brasildefato.com.br]
        li.item
          i.fa.fa-phone-square.fa-lg
            span.text (31) 3213-3983

      h3.title= "Impresso Paraná"

      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:administracaopr@brasildefato.com.br") administracaopr@brasildefato.com.br]
        li.item
          i.fa.fa-phone-square.fa-lg
            span.text (41) 3205-5509

      h3.title= "Impresso Rio de Janeiro"

      ul.list
        li.item
          i.fa.fa-envelope-square.fa-lg #[a(target="_blank" class="text" href="mailto:administracaorj@brasildefato.com.br") administracaorj@brasildefato.com.br]
        li.item
          i.fa.fa-phone-square.fa-lg
            span.text (21) 3173-6336
