nav#breadcrumb
  ol(itemscope, itemtype="http://schema.org/BreadcrumbList")
    li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      a(href="#", itemprop="item")
        span.breadcrumb-item(itemprop="name")= "Página Inicial"
        meta(itemprop="position", content="1")
        span=" / "
    li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      a(href="#", itemprop="item")
        span.breadcrumb-item(itemprop="name")= "Editoria"
        meta(itemprop="position", content="2")
        span=" / "
    li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
      a(href="#", itemprop="item", class="active")
        span.breadcrumb-item(itemprop="name", class="active")= "Colunas"
        meta(itemprop="position", content="3")
