
section#other-opinions
  h1 Outras colunas
  nav
    ul
      li
        a.thumbnail-link(title="Link para coluna", href="#")
          img(src=site.data.columnists['rodrigovieira18@gmail.com'].photo, alt="Foto do colunista")
        a.lead-link(title="Link para notícia recente", href="#")
          h2.author= site.data.columnists['rodrigovieira18@gmail.com'].name
          p.title As empresas Mais Admiradas do Brasil
      li
        a.thumbnail-link(title="Link para coluna", href="#")
          img(src=site.data.columnists['wandecleya@gmail.com'].photo, alt="Foto do colunista")
        a.lead-link(title="Link para notícia recente", href="#")
          h2.author= site.data.columnists['wandecleya@gmail.com'].name
          p.title As empresas Mais Admiradas do Brasil
      li
        a.thumbnail-link(title="Link para coluna", href="#")
          img(src=site.data.columnists['rodrigovieira18@gmail.com'].photo, alt="Foto do colunista")
        a.lead-link(title="Link para notícia recente", href="#")
          h2.author= site.data.columnists['rodrigovieira18@gmail.com'].name
          p.title As empresas Mais Admiradas do Brasil

