nav#breadcrumb
  ol
    li(itemtype="#")
      a(href="#", itemprop="url")
        span.breadcrumb-item(itemprop="title")= "Página Inicial"
        span=" / "
    li(itemtype="#")
      a(href="#", itemprop="url")
        span.breadcrumb-item(itemprop="title")= "Editoria"
        span=" / "
    li(itemtype="#")
      a(href="#", itemprop="url", class="active")
        span.breadcrumb-item(itemprop="title", class="active")= "Título da notícia"
